<!-- jQuery 3 -->
<script src="../../plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

<!-- SlimScroll -->
<script src="../../plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../js/adminlte.min.js"></script>
<script src="../../plugins/ckeditor/ckeditor.js"></script>
<script src="../../plugins/moment/min/moment.min.js"></script>
<script src="../../plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- page script -->
<script>
    if (window.location.pathname == '/cmspage' || window.location.pathname == '/addvoucher' || window.location.pathname == '/addCmsPage' || window.location.href.indexOf('editvoucher') > 0) {
        CKEDITOR.extraPlugins = 'font';
        CKEDITOR.replace('editor1', {

        })


    }
//    CKEDITOR.replace('editor1')
    function filterStatus() {
        $('#jobList').DataTable().search(
                $('#filter_status').val()
                ).draw();
    }

    function filterType() {

        $('#jobList').DataTable().search(
                $('#filter_type').val(), false, false
                ).draw();
    }

    $(function () {
        $('#userList').DataTable();
        //$('#jobList').DataTable();
        $('#jobList').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'csvHtml5', text: 'Export Job Listing',
                    title: 'JobS_Listing',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
            ],
        });
        $('#userListMain').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'csvHtml5', text: 'Export Users Listing',
                    title: 'JobS_Listing',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
            ],
        });
        $('#filter_status').on('change', function () {
            filterStatus();
        });
        $('#filter_type').on('change', function () {
            filterType();
        });
    });
    $.ajax({
        method: "GET",
        url: "/getCmsPage",
    }).done(function (msg) {
        console.log(msg.data.length);
        if (msg.data.length > 0) {
            msg.data.forEach((elem, index) => {
                console.log(elem)
                if (elem.header == true) {
                    $('.header_pages').append(
                            `<li><a href="/cmspage?page=${elem.page_type}&type=header">${elem.title}</a></li>`
                            );
                }
                if (elem.footer == true) {
                    $('.footer_pages').append(
                            `<li><a href="/cmspage?page=${elem.page_type}&type=footer">${elem.title}</a></li>`
                            );
                }
            });
        }
    });

</script>
</body>
</html>

