
   
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><%= admin.username %></p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li ><a href="/dashboard"><i class="fa fa-users"></i> <span>Dashboard</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Manage Staff Members</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <% if(!admin.sub_admin){ %>
                    <li><a href="/addStaffMember"><i class="fa fa-users"></i> <span>Add Staff Members</span></a></li>
                    <% } %>
                    <li><a href="/staffMemberList"><i class="fa fa-users"></i> <span>Staff Members List</span></a></li>
                </ul>
            </li>
            <li><a href="/allusers"><i class="fa fa-th-list"></i> <span>All User</span></a></li>
            <li><a href="/alljobs"><i class="fa fa-th-list"></i> <span>All Listing</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Manage Vouchers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/addvoucher">Add Voucher</a></li>
                    <li><a href="/voucherlist">Voucher List</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Manage Zip Codes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/addzipcode">Add Zipcodes</a></li>
                    <li><a href="/zipcodelist">Zipcodes List</a></li>
                </ul>
            </li> 
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Manage Keywords</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/addkeyword">Add keyword</a></li>
                    <li><a href="/keywordlist">keyword List</a></li>
                </ul>
            </li> 
            
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Add Cms Pages</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/addCmsPage?type=header">Add Header Pages</a></li>
                    <li><a href="/addCmsPage?type=footer">Add Footer Pages</a></li>
                </ul>
            </li> 
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Manage CMS Pages</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li class="treeview">
                        <a href="#"><i class="fa fa-link"></i> <span>Header Pages</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <!-- header pages LI ADD IN FOOTER.EJS -->
                        <ul class="treeview-menu header_pages"></ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-link"></i> <span>Footer Pages</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <!-- fOOTER pages LI ADD IN FOOTER.EJS -->
                        <ul class="treeview-menu footer_pages"></ul>
                    </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Left side column. contains the logo and sidebar -->
