@font-face{
    font-family:ProximaNova-RegularIt;
    src:url("../fonts/ProximaNova-RegularIt.eot?") format("eot"),
        url("../fonts/ProximaNova-RegularIt.woff") format("woff"),
        url("../fonts/ProximaNova-RegularIt.ttf") format("truetype"),
        url("../fonts/ProximaNova-RegularIt.svg#U.S.101") format("svg");
    font-weight:bold;
    font-style:italic;
}
@font-face{font-family:ProximaNova-Regular;src:url("../fonts/ProximaNova-Regular.eot?") format("eot"),
               url("../fonts/ProximaNova-Regular.woff") format("woff"),
               url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
               url("../fonts/ProximaNova-Regular.svg#U.S.101") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:ProximaNova-Extrabold;src:url("../fonts/ProximaNova-Extrabld.eot?") format("eot"),
               url("../fonts/ProximaNova-Extrabld.woff") format("woff"),
               url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"),
               url("../fonts/ProximaNova-Extrabld.svg#U.S.101") format("svg");font-weight:bold;font-style:bold;}

@font-face{font-family:ProximaNova-Bold;src:url("../fonts/ProximaNova-Bold.eot?") format("eot"),
               url("../fonts/ProximaNova-Bold.woff") format("woff"),
               url("../fonts/ProximaNova-Bold.ttf") format("truetype"),
               url("../fonts/ProximaNova-Bold.svg#U.S.101") format("svg");font-weight:bold;font-style:bold;} 

@font-face{font-family:ProximaNova-Semibold;src:url("../fonts/ProximaNova-Semibold.eot?") format("eot"),
               url("../fonts/ProximaNova-Semibold.woff") format("woff"),
               url("../fonts/ProximaNova-Semibold.ttf") format("truetype"),
               url("../fonts/ProximaNova-Semibold.svg#U.S.101") format("svg");font-weight:bold;font-style:bold;} 
@font-face{font-family:GothamBlack;src:url("../fonts/GothamBlack.eot?") format("eot"),
               url("../fonts/GothamBlack.woff") format("woff"),
               url("../fonts/GothamBlack.ttf") format("truetype"),
               url("../fonts/GothamBlack.svg#U.S.101") format("svg");font-weight:bold;font-style:bold;} 
body{
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    padding: 0 !important;
}
a,button{
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    cursor:pointer;
}
a:hover{
    text-decoration:none;
}
.w100{
    width:100%;
}
.top-header {
    background: #323232 none repeat scroll 0 0;
    padding: 0 20px;
}
.navbar-nav li a {
    color: #ffffff;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    padding: 0 25px;
    text-transform: uppercase;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;

}
.coin-des {
    display: inline-block;
    font-weight: 700;
    margin-left: 6px;
    vertical-align: text-top;
}
header  .top-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.navbar {
    padding: 1px 1rem;
}
.navbar-nav li.post-a-job > a,.navbar-nav li.login > a {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    color: #007e04;
    padding: 5px 25px;
    margin-left:25px;
}
.navbar-nav li.post-a-job > a {
    background: #007e04 none repeat scroll 0 0;
    color: #ffffff;
}
.navbar-nav li a:hover{
    color: #007e04;
}
.navbar-nav li.post-a-job > a:hover{
    background: #0a510d none repeat scroll 0 0;
    color: #fff;
}
.navbar-nav li.login > a:hover{
    background: #007e04 none repeat scroll 0 0;
    color: #fff;
}
.main-header {
    padding: 20px;
    text-align: center;
}
.banner > img {
    width: 100%;
}
.banner {
    position: relative;
}
.banner-text {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
}
.banner-text h1 {
    color: #ffffff;
    font-family: "ProximaNova-Extrabold";
    font-size: 58px;
    width: 100%;
    line-height: 0.416;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 18px rgba( 0, 0, 0,0.27 );
}
.banner-text p {
    color: #ffffff;
    font-family: "ProximaNova-Regular";
    font-size: 22px;
    line-height: 1.273;
    text-align: center;
    text-shadow: 0 0 9px rgba( 0, 0, 0,0.27 );
    width: 100%;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 26px;
}
.banner-links {
    display: inline-block;
    width: 100%;
}
.user-info {
    width: auto;
}
.user-info li {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
}
.user-info li a {
    padding: 0;
}
.banner-links a{
    border-radius: 3px;
    background-color: #ff9313;
    box-shadow: 0px 0px 18px 0px rgba( 0, 0, 0,0.27 );
    color: #ffffff !important;
    display: inline-block;
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    letter-spacing: 035;
    line-height: 33.48px;
    padding: 15px 35px;
    text-transform: uppercase;
    margin: 0 15px;
    letter-spacing: 2px;
}
.banner-links a:hover{
    background: #c5700c none repeat scroll 0 0;
}
.banner-links > a:first-child {
    background: #007e04 none repeat scroll 0 0;
}
.banner-links > a:first-child:hover {
    background: #0a510d none repeat scroll 0 0;
}
.how-it-work {
    padding: 30px 0;
}

.section-head {
    color: #131313;
    font-family: "ProximaNova-Extrabold";
    font-size: 42px;
    letter-spacing: 2px;
}
.under-header{
    color: #5d5d5d;
    font-family: "ProximaNova-Regular";
    font-size: 18px;
    letter-spacing: 1px;
}

.works-listing h3{
    color: #131313;
    font-family: "ProximaNova-Bold";
    font-size: 24px;
}
.works-listing p {
    color: #535353;
    font-family: "ProximaNova-Regular";
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 24px;
    max-width: 271px;
}
.work-img > span {
    background-color: #ffffff;
    border-color: #03a346;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 12px 0  rgba( 0, 0, 0,0.27 );
    color: #131313;
    font-family: ProximaNova-Regular;
    font-size: 24px;
    height: 46px;
    line-height: 39px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: -14px;
    width: 46px;
}
.work-img {
    border-radius: 7px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.27);
    display: inline-block;
    height: 160px;
    margin-bottom: 20px;
    padding: 15px 12px;
    position: relative;
    width: 142px;
}
/* .works-listing:hover .work-img > span{
box-shadow: 0 0 12px 0  rgba( 0, 0, 0,0.27 );
} 
.works-listing:hover .work-img {
box-shadow: 0 0 18px 0  rgba( 0, 0, 0,0.27 );
}  */
.work-img.register {
    padding: 23px 12px;
}
.register.work-img > span{
    border-color: #2085cb;
}
.work-img.recheck {
    padding: 23px 4px;
}
.recheck.work-img > span{
    border-color: #ed1b24;
}
.work-img.pay {
    padding: 18px 7px;
}
.work-img.pay > span{
    border-color: #ff9313;
}
.works-listing {
    margin-top: 38px;
}
.about-us {
    background: #323232 none repeat scroll 0 0;
    color: #ffffff;
    padding: 0;
}
.about-us h4{
    font-family: "ProximaNova-Extrabold";
    font-size: 48px;
    letter-spacing: 2px;
}
.about-us p {
    font-family: "ProximaNova-Regular";
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 20px;
}
.about-us a {
    background: #007e04 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow:  0 0 18px 0 rgba(0, 0, 0, 0.27);
    color: #ffffff !important;
    display: inline-block;
    font-family: "ProximaNova-Regular";
    font-size: 15px;
    padding: 15px 31px;
}
.about-us a:hover {
    background: #0a510d none repeat scroll 0 0;
}
.col-md-6.about-img {
    padding-left: 0;
    padding-right: 0;
}
.col-md-6.about-img {
    background-image: url("../images/about-us.jpg");
    background-size: cover;
    height: 484px;
    background-position: center center;
}
.col-md-6.about-img.vision-img {
    background-image: url("../images/vision.jpg");
}
.col-md-6.about-img > img {
    opacity: 0;
    width: 100%;
}
.content-text {
    max-width: 619px;
    padding-left: 21px;
    padding-top: 0;
}
.about-us.vision .content-text {
    float: right;
    max-width: 663px;
    padding-right: 9px;
}
.about-us.vision {
    background: #ececec none repeat scroll 0 0;
    color: #323232;
}
.footer-links h5 {
    color: #131313;
    font-family: ProximaNova-Bold;
    font-size: 21px;
    text-transform: uppercase;
}
.footer-links a {
    color: #4b4c4c;
    font-family: ProximaNova-Regular;
    font-size: 15px;
}
.footer-links > ul {
    margin: 0;
    padding: 0;
}
.footer-links li {
    list-style: outside none none;
    margin-bottom: 7px;
}

.footer-logo p {
    color: #4b4c4c;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    margin-top: 18px;
    padding-left: 0;
}
.footer-links li .fa {
    font-family: FontAwesome2;
    width: 22px;
}
.fa-star::before {
    font-family: FontAwesome1;
}
.footer-links a:hover {
    color: #0a560d;
}
.main-header a:hover ,.navbar-brand:hover,.footer-logo a:hover {
    opacity: 0.5;
}
footer .container {
    max-width: 1060px;
}
footer {
    border-top: 1px solid #d5d5d5;
    padding: 60px 0 30px;
}
.search-form {
    margin: 0 auto;
    max-width: 825px;
    position: relative;
    width: 100%;
}
.search-form input {
    background-color: #ffffff;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.27);
    font-family: ProximaNova-Regular;
    font-size: 18px;
    height: 52px;
    padding: 0 15px;
    width: 100%;
    line-height: 22px;
    font-style:italic;
}
.search-form button {
    background: #007e04 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    height: 46px;
    letter-spacing: 1px;
    position: absolute;
    right: 3px;
    text-transform: uppercase;
    top: 3px;
    width: 175px;
}
.create-list {
    float: left;
    width: 100%;
}
.create-list > a {
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: #ffffff !important;
    display: inline-block;
    font-family: ProximaNova-SemiBold;
    font-size: 21px;
    margin-top: 20px;
    padding: 13px 34px;
    text-transform: uppercase;
}
.create-list > a:hover {
    background: #007e04 none repeat scroll 0 0;
    border-color: #007e04;
}
.search-page .banner-text p {
    margin-bottom: 20px;
}
.search-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a1a1a1;
    font-family: ProximaNova-RegularIt;
    opacity:1;
}
.search-form ::-moz-placeholder { /* Firefox 19+ */
    color: #a1a1a1;
    font-family: ProximaNova-RegularIt;
    opacity:1;
}
.search-form :-ms-input-placeholder { /* IE 10+ */
    color: #a1a1a1;
    font-family: ProximaNova-RegularIt;
    opacity:1;
}
.search-form :-moz-placeholder { /* Firefox 18- */
    color: #a1a1a1;
    font-family: ProximaNova-RegularIt;
    opacity:1;
}
.search-form button:hover {
    background: #0a510d none repeat scroll 0 0;
}
.main-header img {
    max-width: 390px;
}
.works-listing {
    text-align: center;
}
.works-listing p {
    margin: 0 auto;
}
.breadcrumb {
    background-color: #ffffff;
    border-radius: 0;
    margin-bottom: 0;
    padding: 26px 0;
}
.breadcrumb-item {
    color: #007e04;
    font-family: ProximaNova-Regular;
    font-size: 13px;
    text-transform: uppercase;
}
.modal-dialog {
    margin: 1.75rem auto;
    max-width: 730px;
}
.modal-content {
    border: medium none;
    border-radius: 15px;
    box-shadow: 0 0 50px 0 #000000;
}
.modal-header {
    background: #323232 none repeat scroll 0 0;
    border: medium none;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    padding: 11px 1.1rem;
}
.modal-title {
    color: #ffffff;
    font-family: ProximaNova-Bold;
    font-size: 25px;
    letter-spacing: 1px;
}
.modal-title > span {
    font-family: ProximaNova-Regular;
    font-size: 21px;
}
.modal-body {
    padding: 35px 65px;
}
input,  textarea,  select {
    background: #f8f5f5 none repeat scroll 0 0;
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #848484;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    height: 50px;
    letter-spacing: 0.8px;
    padding: 10px 18px;
    width: 100%;
    resize:none;
}
.modal-content input, .modal-content textarea, .modal-content select {
    background: #f8f5f5 none repeat scroll 0 0;
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #848484;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    height: 50px;
    letter-spacing: 0.8px;
    padding: 10px 18px;
    width: 100%;
    resize:none;
}
.modal-body .form-group {
    margin-bottom: 10px;
}
.modal-content textarea {
    height: 131px;
}
.modal-content  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a1a1a1;
    font-style: italic;
    opacity:1;
}
.modal-content  ::-moz-placeholder { /* Firefox 19+ */
    color: #a1a1a1;
    font-style: italic;
    opacity:1;
}
.modal-content  :-ms-input-placeholder { /* IE 10+ */
    color: #a1a1a1;
    font-style: italic;
    opacity:1;
}
.modal-content  :-moz-placeholder { /* Firefox 18- */
    color: #a1a1a1;
    font-style: italic;
    opacity:1;
}
.modal-body .continue-links  a {
    background: #007004 none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 19px;
    height: 52px;
    letter-spacing: 1.8px;
    line-height: 50px;
    margin-top: 14px;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
    box-shadow: 0px 0px 9px 0px rgba( 0, 0, 0,0.40 );
    margin-bottom: 14px;
}
.modal-body .continue-links  a:hover{
    background:#0a510d;
    color:#fff;
}
.modal .form-group.select::after {
    color: #848484;
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 14px;
    z-index: 99;
}
.modal select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
}
.continue-links {
    clear: both;
    text-align: center;
}
.modal-body  .form-group {
    position: relative;
}
.form-group .fa {
    position: absolute;
    right: 15px;
    top: 16px;
    color:#848484;
}
.continue-links img {
    vertical-align: sub;
}
.date-picker .form-group:first-child::after {
    background: #cccccc none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    right: -17px;
    top: 25px;
    width: 10px;
}
.date-picker .form-group:first-child {
    margin-right: 4%;
    width: 48%;
}
.date-picker .form-group {
    float: left;
    width: 48%;
}
.already-user > a {
    color: #007004;
    font-family: ProximaNova-Bold;
}
.already-user {
    color: #848484;
    font-family: ProximaNova-Regular;
    font-size: 19px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
}
#recheck .modal-body img {
    margin: 14px 0 27px;
}
#recheck .modal-body p {
    color: #000000;
    font-family: ProximaNova-Regular;
    font-size: 25px;
    margin-bottom: 19px;
    text-align: center;
}
#recheck .modal-body {
    text-align: center;
}
.modal{
    padding: 0 !important;
}
/*Css for popup displing*/
.modal-backdrop.fade.show + .modal-backdrop.fade.show {
    opacity: 0 !important;
}
#registration.show + #create-listing {
    display:none !important;
}
#recheck.show  + #registration.show {
    display:none !important;
}
.close{
    opacity:1;
}
.modal .fade {
    opacity: 0;
    transition: opacity 0.5s linear 0s;
}
/*Css for popup displaying end*/
/*LISTING PAGE*/
.breadcrumb-item.active{
    color: #aeadad;
}
.search-field {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.27);
    display: inline-block;
    position: relative;
    width: 100%;
}
.search-field  input {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    float: left;
    font-family: ProximaNova-Regular;
    font-style: italic;
    height: 41px;
    padding: 0 10px;
    width: 100%;
}
.search-field  button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #838383;
    position: absolute;
    right: 6px;
    top: 8px;
}
.modal.fade.show {
    background: rgba(0,0,0,0.6);
}
/* .search-field > input:first-child {
    border-right: 1px solid #838383;
} */
.main-listing h1 {
    color: #6c6c6c;
    font-family: GothamBlack;
    font-size: 27px;
    letter-spacing: 2px;
}
section.main-listing {
    background: #f4f4f4 none repeat scroll 0 0;
    padding: 40px 0;
}
.sidebar {
    margin-top: 60px;
}
.filters {
    margin: 20px 0;
}
h3.filter-head {
    background: #323232 none repeat scroll 0 0;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.27);
    color: #ffffff;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    padding: 14px 15px;
}
.filters li {
    color: #131313;
    display: inline-block;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    list-style: outside none none;
    margin: 5px 0;
    width: 100%;
    position:relative;
}
.filters > ul {
    padding: 0;
}
.filters li input + label {
    background: rgba(0, 0, 0, 0) url("../images/radio-unchecked.png") repeat scroll 0 0;
    height: 18px;
    margin-right: 10px;
    vertical-align: text-top;
    width: 18px;
}
/* .filters li input:checked  + label{
    background: rgba(0, 0, 0, 0) url("../images/radio-checked.png") repeat scroll 0 0;
} */

.filters li label.active {
    background: rgba(0, 0, 0, 0) url("../images/radio-checked.png") repeat scroll 0 0;
}


.filters li input {
    cursor: pointer;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 4px;
    width: 100%;
}
.main-listing h1 span {
    font-style: italic;
}
.filters li.rating i {
    font-size: 15px;
    color:#afafaf;
}
.filters li.rating i {
    color:#ffa200 ;
}
.filters li.rating.four i:last-child {
    color: #afafaf;
}
.filters li.rating.three i:nth-of-type(4) ,.filters li.rating.three i:nth-of-type(5) {
    color: #afafaf;
}
.filters li.rating.two i:nth-of-type(3),.filters li.rating.two i:nth-of-type(4) ,.filters li.rating.two i:nth-of-type(5) {
    color: #afafaf;
}
.filters li.rating.one i:nth-of-type(2),.filters li.rating.one i:nth-of-type(3),.filters li.rating.one i:nth-of-type(4) ,.filters li.rating.one i:nth-of-type(5) {
    color: #afafaf;
}
.list-pic {
    border-right: 1px solid #cacaca;
    display: inline-block;
    padding: 0 25px;
    text-align: center;
    vertical-align: middle;
    width: 145px;
}
.list-details {
    display: inline-block;
    padding: 12px 10px 0;
    vertical-align: middle;
    width: calc(100% - 340px);
}
.list-btns {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 186px;
    padding: 0 25px;
}
.list-pic > img {
    border-radius: 50%;
    height: 71px;
    width: 71px;
}
.list-pic h6 {
    color: #131313;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 8px;
}
.list-pic > span {
    color: #007e04;
    font-family: ProximaNova-Regular;
}
.list-pic .rating.four i:last-child {
    color: #afafaf;
}
.listing-result .list-pic  .rating i.fa {
    color: #ffa200;
    font-size: 13px;
}
.listing-result .rating {
    margin-left: 0;
}
.listing-result {
    border: 1px solid #cacaca;
    border-radius: 3px;
    float: left;
    margin-bottom: 22px;
    padding: 10px 0;
    /* width: calc(100% - 25px); */
    width:100%;
    background: #ffffff none repeat scroll 0 0;
}
.list-details > p .fa, .list-details > p img {
    font-size: 15px;
    margin-right: 12px;
    font-family: FontAwesome3;
}
.listing {
    display: inline-block;
    margin-top: 69px;
    padding-left: 22px;
    width: 100%;
    transition:all 0.5s ease;
}
.list-details > h4 {
    color: #131313;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    margin-bottom: 9px;
}
.list-details > p {
    color: #656565;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    margin-bottom: 9px;
}
.list-btns > button {
    background: #007e04 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.27);
    color: #ffffff;
    font-family: ProximaNova-Regular;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 8px 14px;
    text-transform: uppercase;
    cursor:pointer;
    width:135px;
    text-align:center;
}
.navbar-nav li.dropdown a {
    text-transform: initial;
}
.dropdown {
    /*margin-left: 12px;*/
    margin-top: 3px;
}	
.navbar-nav li.dropdown a span {
    font-family: ProximaNova-Bold;
}
.navbar-nav .dropdown-item {
    color: #000000;
    padding: 0 8px 3px;
}
.list-btns > button:hover {
    background:#0a510d none repeat scroll 0 0;
}
/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #686868; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
.scrollbar-inner {
    height: 814px;
    overflow-y: scroll;
}
.toggle-search {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.27);
}
.switch {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #f4f4f4; 
    border-radius: 3px;
    box-shadow: none;
    height: 47px;
    margin: 20px auto;
    position: relative;
    width: 100%;
}
.switch-label {
    /* color: #ff9313; */
    cursor: pointer;
    float: left;
    font-family: ProximaNova-Regular;
    font-size: 14px;
    line-height: 44px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 2;
}
.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}
.switch-input {
    opacity: 0;
    position: absolute;
    /* left: 0; */
    /*  z-index: 9; */
}
.switch-input:checked  + .switch-label {
    font-weight: bold;
    color: #fff;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 151px;
    /* Note: left: 50%; doesn't transition in WebKit */
}
.switch-selection {
    background-color: #ff9313;
    border-radius: 0;
    display: block;
    height: 43px;
    left: 0;
    position: absolute;
    top: 0;
    transition: left 0.15s ease-out 0s;
    width: 50%;
    z-index: 1;
}
.details-view {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.4);
    right:0;
    top: 0;
    width: 455px;
    z-index:99;
    height: 100vh;
    overflow: auto;
    position: relative;


}
.details-view1 {
    position: fixed;
    right:  -482px;
    top: 50px;
    z-index: 9999;
    transition:right 0.5s ease;
}
.details-view1.active-pop {
    right: 0;
}
body.list-temp {
    overflow-x: hidden;
}
body.pop-open .main {
    position: inherit;
}
/* section.active-pop1 .listing {
    padding-right: 191px;
} */

.detail-header {
    background: #007e04 none repeat scroll 0 0;
    color: #ffffff;
    font-family: ProximaNova-Regular;
    font-size: 21px;
    padding: 26px 15px;
}
.detail-header > button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    float: right;
}
.det-name {
    display: inline-block;
    vertical-align: middle;
    width: 43%;
}
.det-imag {
    display: inline-block;
    padding: 0 15px;
    vertical-align: middle;
    width: 34%;
}
.det-imag > img {
    border-radius: 50%;
    height: 122px;
    width: 122px;
}
.details-body > span.det-review {
    color: #007e04;
    display: inline-block;
    font-family: ProximaNova-Regular;
    font-size: 13px;
    padding: 0 15px;
    text-align: center;
    width: 21%;
}
.details-body {
    padding: 30px 0 100px;
}
.detail-description {
    color: #131313;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    padding: 23px 15px 10px;
}
.detail-description > p {
    color: #656565;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 9px;
}
.detail-description > p i {
    font-family: FontAwesome3;
    margin-right: 10px;
}
.details-btns {
    padding: 0 16px 40px;
}
.det-name > h6 {
    font-family: ProximaNova-Regular;
    font-size: 21px;
    margin-bottom: 0;
}
.det-name i {
    color: #afafaf;
}
.task-detail {
    border-top: 1px solid #cacaca;
    color: #131313;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    padding: 25px 15px;
}
.task-detail h6 {
    color: #007e04;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    text-transform:uppercase;
}
.details-btns button {
    background: #007e04 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.27);
    color: #ffffff;
    cursor: pointer;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 20px 14px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.details-btns button:hover{
    background:#0a510d;
}
.detail-poup.modal-backdrop.fade {
    height: calc(100% - 50px);
    opacity: 0;
    top: 50px;
    z-index: -1;
}
.detail-poup.modal-backdrop.fade.show {
    opacity: 0.5;
    z-index: 10;
}
.main {
    background: #ffffff none repeat scroll 0 0;
    position: relative;
    z-index: 9;
    margin-top: 50px;
}
body.list-temp.pop-open {
    overflow-y: auto;
}
section.main-listing.active-pop1 .listing {
    padding-right: 174px;
}
.navbar-nav .current-item {
    color: #007e04;
}

.det-name h6 a {
    color: #131313;
}
.det-name  h6 a:hover{
    color: #007e04;
}
.search-field > button i{
    font-family: FontAwesome1;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
button.navbar-toggler i {
    font-family: FontAwesome1;
}
.row.slider-mobile {
    display: none;
}
.swiper-slide {

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slider-mobile  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/right-arrow.png");
}
.slider-mobile  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url("../images/left-arrow.png");
}
/*Profile*/
.profile-content {
    background: #f4f4f4 none repeat scroll 0 0;
    padding-bottom: 40px;
}
.outer {
    display: inline-block;
    margin: 40px 0;
    width: 100%;
}
.inner {
    background-color: #ffffff;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 13px 22px 0 #999999;
    display: inline-block;
    padding: 24px 24px 20px 24px;
    width: 100%;
}
.profile-heading {
    background: #323232 none repeat scroll 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
    font-family: ProximaNova-Regular;
    font-size: 18px;
    height: 52px;
    letter-spacing: 2px;
    padding: 16px 24px;
    margin-bottom: 0px;
}
.p-profile {
    display: inline-block;
    text-align: center;
    width: 175px;
}
.p-profile > img {
    border-radius: 100px;
}
.btn.send {
    background: #007e04 none repeat scroll 0 0;
    box-shadow: 0 0 9px #999999;
    color: #ffffff;
    font-family: ProximaNova-Regular;
    letter-spacing: 0.5px;
    margin: 14px 0 0 0;
    text-transform: uppercase;
    width: 175px;
    padding: 10px 0;
}
.btn.send:hover {
    background: #0a510d none repeat scroll 0 0;
}
.p-profile {
    display: inline-block;
    float: left;
    text-align: center;
    width: 175px;
}
.content-profile {
    display: inline-block;
    width: calc(100% - 180px);
    padding: 28px 0 30px 62px;
}
.profile-content h1 {
    color: #131313;
    font-family: ProximaNova-Bold;
    font-size: 35px;
    margin-bottom: 0.4rem;
}
.star .fa.fa-star.yellow {
    color: #ffa200;
}
.star .fa.fa-star {
    color: #afafaf;
    font-size: 22px;
}
.star {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 14px;
}
.coins {
    float: right;
    font-family: ProximaNova-Bold;
    font-size: 21px;
    line-height: 25px;
}
.content-profile > p.info {
    color: #2b2b2b;
    font-family: ProximaNova-Regular;
    font-size: 19px;
    letter-spacing: 0.2px;
    margin-top: 18px;
    margin-bottom: 12px;
}
.job-complete {
    color: #656565;
    font-size: 15px;
    margin-bottom: 6px;
}
.review {
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.r-view {
    font-family: ProximaNova-Bold;
    font-size: 19px;
    letter-spacing: 0.5px;
}
.verify .fa.fa-check-circle {
    color: #007e04;
}
.verify {
    color: #131313;
    float: right;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.5px;
}
.img-list > img {
    border-radius: 100px;
}
.single-info {
    display: inline-block;
    padding: 25px 0;
    width: 100%;
}
.name-star > span {
    font-family: ProximaNova-Bold;
    font-size: 19px;
}
.img-list {
    float: left;
    width: 65px;
}
.rating .fa.fa-star.yellow {
    color: #ff9d01;
}
.rating {
    margin-left: 5px;
}
.rating .fa.fa-star {
    color: #939393;
    font-size: 14px;
}
.detail {
    display: inline-block;
    padding-left: 16px;
    width: calc(100% - 67px);
}
.name-star {
    padding-top: 4px;
}
p.date {
    color: #676767;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 12px;
}
p.description {
    color: #363636;
    font-family: ProximaNova-Regular;
    font-size: 18px;
    margin-bottom: 0;
}
.job-complete i {
    font-family: FontAwesome3;
    margin-right: 10px;
}
#msg-pop .modal-dialog.modal-dialog-centered .modal-body {
    padding: 19px 22px;
}
#msg-pop .modal-dialog.modal-dialog-centered {
    max-width: 530px;
}
#msg-pop .modal-dialog.modal-dialog-centered .continue-links > a {
    margin-bottom: 5px;
    margin-top: 8px;
    width: 100%;
}
#msg-pop  .modal-content {
    border-radius: 7px;
}
#msg-pop .modal-header {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.coins > img {
    vertical-align: sub;
}
.breadcrumb-item:hover {
    color: #0a510d;
}
#accept-pop .pop-p {
    margin-top: 21px;
}
/*Dashboard*/
.profile-heading > button,.buy-coins-btn ,.profile-heading > a{
    background: #ff9313 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    font-family: ProximaNova-Regular;
    font-size: 14px;
    margin-top: -4px;
    padding: 6px 7px;
}
#accept-pop-yes .lgn-btn {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 41px;
    margin-top: 10px;
    text-align: center;
    width: 100px;
}
.buy-coins-btn {
    float: none;
}
.dashboard-sidebar {
    background: #ffffff none repeat scroll 0 0;
    border-right: 1px solid rgba(184, 184, 184, 0.5);
    float: left;
    width: 26%;
    min-height: 800px;
}
.profile-pic {
    display: inline-block;
    position: relative;
}
.profile-pic > img {
    border-radius: 50%;
    height: 142px;
    width: 142px;
}
.profile-details {
    display: inline-block;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
    width: calc(100% - 148px);
}
.online {
    background: #007e04 none repeat scroll 0 0;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    right: 29px;
    top: 4px;
    width: 10px;
}
.profile-details h6 {
    color: #131313;
    font-family: ProximaNova-Regular;
    font-size: 22px;
    margin-bottom: 0;
}
.profile-details > span {
    color: #007e04;
    font-family: proximanova-regular;
    font-size: 14px;
}
.dashboard-pic {
    padding: 30px 15px;
}
.dashboard-sidebar > ul {
    margin-bottom: 100px;
    padding: 0;
}
.dashboard-sidebar li {
    border-top: 1px solid #eeeeee;
    display: inline-block;
    list-style: outside none none;
    width: 100%;
    position: relative;
}
.dashboard-sidebar li a {
    color: #848484 !important;
    display: inline-block;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    padding: 25px 15px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 1px;
}
.dashboard-sidebar ul li a img {
    float: right;
}
.dashboard-sidebar li a i {
    margin-right: 15px;
}
.create-profile {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    padding: 35px 0 200px 18px;
    width: 42%;
}
.create-profile h4 {
    color: #ff9313;
    font-family: ProximaNova-Bold;
    font-size: 18px;
    letter-spacing: 2px;
}
.create-profile p {
    color: #626262;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    letter-spacing: 1px;
}
.create-profile   select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
}
.create-profile  .form-group.select::after {
    color: #848484;
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 28px;
    top: 14px;
    z-index: 99;
}
.create-profile  ::-moz-placeholder { /* Firefox 19+ */
    color: #848484;
    opacity:1;
}
.create-profile   :-ms-input-placeholder { /* IE 10+ */
    color: #848484;
    opacity:1;
}
.create-profile   :-moz-placeholder { /* Firefox 18- */
    color: #848484;
    opacity:1;
}
.btn-upload {
    display: inline-block;
    margin: 0;
    padding: 4px 15px;
    max-width: 100%;
    color: #535353;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 202, 202, 202 );
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(221,221,221) 8%, rgb(255,255,255) 90%);
    background-image: -webkit-linear-gradient( 90deg, rgb(221,221,221) 8%, rgb(255,255,255) 90%);
    background-image: -ms-linear-gradient( 90deg, rgb(221,221,221) 8%, rgb(255,255,255) 90%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    font-family: ProximaNova-Regular;
    left: 50%;
    bottom:8px;
}
.outer {
    background: #ffffff none repeat scroll 0 0;
    display: inline-block;
    margin: 40px 0;
    width: 100%;
    box-shadow: 0px 0px 32px 0px rgba( 0, 0, 0,0.26 );
}
.isVisuallyHidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.upload-pic {
    float: left;
    margin: 105px 0 0 40px;
    position: relative;
    text-align: center;
    width: 160px;
}
.form-btn button {
    background-color: #007e04;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
    font-family: ProximaNova-Regular;
    font-size: 19px;
    height: 55px;
    margin-left: 16px;
    margin-top: 5px;
    padding: 11px 15px;
    width: 155px;
}
.form-btn button.save:hover{
    background-color:#0a510d;
}
.form-btn button.cancel{
    background:#ff9313;
}
.form-btn button.cancel:hover,.profile-heading > button:hover{
    background:#c5700c;
}
.create-profile .form-group > textarea {
    height: auto;
}
.scnd-add{
    margin-top:15px;
}
.create-profile input,.create-profile select{
    height:55px;
}
.create-profile .form-group.col-md-12 {
    clear: both;
}
.form-group.float-left.active-input input {
    background: #e8e8e8 none repeat scroll 0 0;
    border: medium none;
    color: #131313;
}
.form-group.float-left.active-input  ::-moz-placeholder { /* Firefox 19+ */
    color: #131313;
    opacity:1;
}
.form-group.float-left.active-input   :-ms-input-placeholder { /* IE 10+ */
    color: #131313;
    opacity:1;
}
.form-group.float-left.active-input    :-moz-placeholder { /* Firefox 18- */
    color: #131313;
    opacity:1;
}
.dashboard-sidebar li span {
    position: relative;
}
.dashboard-sidebar li  span {
    background: #848484 none repeat scroll 0 0;
    border-radius: 8px;
    color: #ffffff;
    font-family: ProximaNova-Bold;
    font-size: 16px;
    padding: 5px 10px;
    position: absolute;
    right: 41px;
    top: 17px;
}
.dashboard-sidebar li a:hover{
    color: #007e04;
}
.dashboard-sidebar li.msg-active span{
    background: #007e04 none repeat scroll 0 0;
}
.dashboard-sidebar .msg-active {
    color: #007e04 !important;
}
.inbox-main > h5 {
    color: #131313;
    font-family: ProximaNova-Bold;
    font-size: 19px;
    margin-bottom: 0;
    padding: 22px 20px;
}
.inbox-main {
    border-right: 1px solid rgba(184, 184, 184, 0.5);
    float: left;
    padding-bottom: 17px;
    width: 29%;
}
.inbox-main ul li img {
    border-radius: 50%;
    height: 50px;
    vertical-align: middle;
    width: 50px;
}
.msg-details {
    display: inline-block;
    padding-left: 8px;
    vertical-align: middle;
    /* width: calc(100% - 56px); */
}
.notify-details {
    display: inline-block;
    padding-left: 8px;
    vertical-align: middle;
    max-width: 80%;
    width: 100%;
}
.inbox-main > ul {
    padding: 0;
}
.inbox-main li {
    border-top: 1px solid #ececec;
    display: inline-block;
    font-size: 16px;
    padding: 11px 8px;
    width: 100%;
    transition:all 0.5s ease;
    cursor:pointer;
}
.msg-details > h5 {
    color: #313131;
    font-family: ProximaNova-Bold;
    font-size: 16px;
    margin-bottom: 5px;
}
.msg-details h5  span{
    color: #6b6b6b;
    /* float: right; */
    font-family: ProximaNova-Regular;
    font-size: 13px;
}
.msg-details > p {
    color: #6b6b6b;
    font-size: 15px;
    margin: 0;
}
.inbox-main li:hover,.inbox-main li.active-msgs   {
    background:#007004;
}
.inbox-main li:hover .msg-details > h5,.inbox-main li:hover .msg-details h5 span,.inbox-main li:hover .msg-details   p,.inbox-main li.msg-active:hover   span,
.inbox-main li.active-msgs .msg-details > h5,.inbox-main li.active-msgs .msg-details h5 span,.inbox-main li.active-msgs .msg-details   p{
    color: #fff;
}
.messages-main > h5 {
    color: #131313;
    font-family: ProximaNova-Bold;
    font-size: 19px;
    margin-bottom: 0;
    padding: 22px 20px;
}
.messages-main {
    float: left;
    width: 45%;
}
.msg-inner {
    border-top: 1px solid rgba(184, 184, 184, 0.5);
    padding: 10px;
}
.chat-content {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    vertical-align: top;
    width: calc(100% - 67px);
}
.msg-inner  img.profile-pics {
    border-radius: 50%;
    height: 52px;
    width: 52px;
}
.msg-main-inner {
    margin-bottom: 15px;
}
.msg-main-inner.user-chat {
    direction: rtl;
}
.chat-content {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    vertical-align: top;
    width: calc(100% - 67px);
}
.msg-inner  img.profile-pics {
    border-radius: 50%;
    height: 52px;
    width: 52px;
}
.msg-main-inner {
    margin-bottom: 15px;
}
.msg-main-inner.user-chat {
    direction: rtl;
}
.chat-content > p {
    color: #363636;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    margin: 0;
}
.chat-content > p span {
    color: #007004;
    cursor: pointer;
    font-weight: 600;
}
.chat-content > h6 {
    color: #363636;
    font-family: ProximaNova-Bold;
    font-size: 19px;
}
.reply-msg .fa {
    font-size: 20px;
}
.reply-msg > button {
    background: #007e04 none repeat scroll 0 0;
    border: medium none;
    border-radius: 40px;
    bottom: 23px;
    color: #ffffff;
    height: 40px;
    position: absolute;
    right: 17px;
    text-align: center;
    width: 40px;
}

.reply-msg > textarea {
    height: 101px;
    padding-right: 66px;
}
.reply-msg {
    bottom: 15px;
    left: 15px;
    position: absolute;
    width: calc(100% - 30px);
}
.messages-main {
    float: left;
    min-height: 800px;
    position: relative;
    width: 45%;
}
.profile-heading > a.reedme-vou {
    background: #ed207b none repeat scroll 0 0;
    margin-right: 10px;
}
.dashboard-sidebar  .rating {
    margin-left: 0;
}
.jobs-main h5 {
    border-bottom: 1px solid #dee2e6;
    color: #131313;
    font-family: ProximaNova-Bold;
    font-size: 19px;
    margin-bottom: 0;
    padding: 22px 20px;
}
.jobs-main {
    float: left;
    width: 74%;
}
.job-table th {
    border-top: medium none;
    color: #535353;
    font-family: ProximaNova-Bold;
    font-size: 16px;
    padding-left: 0;
}
.job-table table td button{
    background-image: -moz-linear-gradient(90deg, #dadada  8%, #ffffff 90%);
    background-image: -webkit-linear-gradient(90deg, #dadada  8%, #ffffff 90%);
    background-image: -ms-linear-gradient(90deg, #dadada  8%, #ffffff 90%);
    border:1px solid #cacaca;
    border-radius: 4px;
    padding: 4px 16px;
    transition:all 0.5s ease;
}
.reply-msg > button:hover{
    background: #0a510d none repeat scroll 0 0;

}
.job-table table td button:hover{
    background-image: -moz-linear-gradient(90deg, #929292 8%, #ffffff 90%);
    background-image: -webkit-linear-gradient(90deg, #929292 8%, #ffffff 90%);
    background-image: -ms-linear-gradient(90deg, #929292 8%, #ffffff 90%);
}
.view-button {
    text-align: right;
}
.job-table table td {
    color: #535353;
    font-family: ProximaNova-Regular;
    font-size: 14px;
    padding-left: 0;
    vertical-align: middle;
}
.job-table table tbody tr:nth-child(2n) {
    background: #f7f7f7 none repeat scroll 0 0;
}
.job-table table tr td:first-child {
    padding-left: 15px;
}
.job-table table tr:first-child td {
    border-top: medium none;
}
.table thead th {
    border-bottom: 0 solid #dee2e6;
    vertical-align: bottom;
}
.job-table table tbody{
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgba( 0, 0, 0 ,0.23);
}
.job-table {
    margin-top: 22px;
}
.job-table .table {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1rem;
    margin-left: 20px;
    max-width: 100%;
    width: calc(100% - 40px);
}
.vouchers {
    border: 1px solid #dadada;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
}
.vou-logo > img {
    max-height: 68px;
}
.vou-logo {
    border: 1px solid #dadada;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding: 23px 7px;
    position: relative;
    width: calc(100% - 20px);
}
.vouchers > p {
    color: #3b3b3b;
    font-family: ProximaNova-Regular;
    font-size: 14px;
    margin-bottom: 7px;
}
.vouchers > h6 {
    color: #131313;
    font-family: ProximaNova-Bold;
    font-size: 19px;
    margin-top: 10px;
}
.vouchers button {
    background: #ff9313 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #ffffff;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    margin: 9px 0 12px;
    padding: 4px 20px;
}
.vou-logo > span {
    background: #ed207b none repeat scroll 0 0;
    color: #ffffff;
    font-family: ProximaNova-Bold;
    font-size: 13px;
    left: -88px;
    position: absolute;
    top: 30px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100%;
}
.vouchers button:hover{
    background: #c5700c none repeat scroll 0 0;
}
.profile-des > img {
    border-radius: 50%;
    height: 157px;
    width: 157px;
}
.profile-des > h2 {
    color: #131313;
    display: inline-block;
    font-family: ProximaNova-Bold;
    font-size: 32px;
    margin-left: 20px;
}
.rating-profile {
    border: 1px solid #cacaca;
    border-radius: 4px;
}
.profile-des {
    padding: 30px 22px;
}
.task-details {
    border-top: 1px solid #cacaca;
    padding: 20px 20px 0;
}
.task-details > ul {
    margin-bottom: 34px;
    margin-top: 15px;
    padding: 0;
}
.task-details > h2 {
    color: #007004;
    font-family: ProximaNova-Regular;
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.task-details li {
    color: #656565;
    display: inline-block;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    width: 100%;
}
.rating-preview {
    padding-left: 20px;
}
.task-details li i {
    margin-right: 13px;
}
.star-number {
    background: #ff9313 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: ProximaNova-Regular;
    font-size: 48px;
    padding: 10px 15px;
    vertical-align: middle;
}
.profile-rating > h2 {
    color: #363636;
    font-family: ProximaNova-Regular;
    font-size: 25px;
}
.profile-rating .rating i.fa {
    font-size: 37px;
    color:#ff9313;
}
.profile-rating {
    display: inline-block;
    margin-right: 50px;
    margin-top: 12px;
    vertical-align: middle;
}
.leave-review {
    border-top: 1px solid #cacaca;
    float: left;
    margin-top: 36px;
    padding-top: 19px;
    width: 100%;
}
.leave-review > h2 {
    color: #363636;
    font-family: ProximaNova-Bold;
    font-size: 19px;
    margin-bottom: 10px;
}
.leave-review > textarea {
    height: 140px;
}
.leave-review button {
    background-color: #007e04;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.27);
    color: #ffffff;
    display: inline-block;
    font-family: ProximaNova-Semibold;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 33.48px;
    margin: 15px 0 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.profile-rating .rating {
    display: inline-block;
    margin-left: 0;
    margin-top: 8px;
}
.profile-rating .rating i.fa:last-child{
    color:#939393;
}
.rating-main .inner {
    box-shadow: none;
    padding-bottom: 45px;
}
.leave-review button:hover{
    background-color: #0a510d;
}
.task-details img {
    margin-right: 15px;
    vertical-align: sub;
}

.rating-main .outer {
    margin: 40px 0 40px 100px;
    width: calc(100% - 200px);
}
/*Login*/
.login-main {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.26);
    display: inline-block;
    margin: 80px auto 40px;
    padding: 30px 100px;
    width: 715px;
}
.container.login-inner {
    text-align: center;
}
.logo-main {
    margin-bottom: 50px;
    text-align: center;
}
.login-main h1 {
    color: #007e04;
    font-size: 19px;
    letter-spacing: 2px;
    text-align: left;
}
.login-main > p {
    color: #626262;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
}

.register-main input, .register-main textarea{
    background: #f8f5f5 none repeat scroll 0 0;
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #848484;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    height: 50px;
    letter-spacing: 0.8px;
    padding: 10px 18px;
    resize: none;
    width: 100%;
}
.register-main textarea {
    height: auto;
}
.lgn-btn {
    background: #007e04 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.26);
    color: #ffffff !important;
    display: inline-block;
    font-family: ProximaNova-Regular;
    font-size: 19px;
    letter-spacing: 2px;
    padding: 12px 0;
    width: 100%;

}
.form-group.btns {
    text-align: center;
}
.login-main .register-link:hover{
    color:#007e04 ;
}
.lgn-btn:hover {
    background: #0a510d none repeat scroll 0 0;
}
.register:hover {
    background: #0a510d none repeat scroll 0 0;
    color:#fff;
} 
.frgt-pswd:hover{
    color:#0a510d;
}
.frgt-pswd {
    color: #626262;
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 20px;
    width: 100%;
}
.register-link {
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #626262;
    display: inline-block;
    font-size: 14px;
    margin-top: 30px;
    padding: 10px 20px;
}
.job-table  .rating {
    margin-left: 0;
}
.job-table .rating i.fa {
    font-size: 12px;
    letter-spacing: -2px;
}
.job-table table td a {
    color: #2085cb;
    font-size: 14px;
}
.register-main {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.26);
    display: inline-block;
    margin: 80px auto 40px;
    width: 715px;
}
.register-main > p {
    color: #626262;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 23px;
    padding: 0 100px;
    text-align: left;
}
.register-main form {
    margin-bottom: 33px;
    padding: 0 100px;
}
.register-main .lgn-btn {
    letter-spacing: 1px;
    padding: 10px 15px;
    text-transform: uppercase;
    width: auto;
}
.register-main .form-group.btns {
    text-align: left;
}
.register-main h2.profile-heading {
    text-align: left;
}
.register-main input {
    background: #f8f5f5 none repeat scroll 0 0;
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #848484;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    height: 50px;
    letter-spacing: 0.8px;
    padding: 10px 18px;
    resize: none;
    width: 100%;
}
.register-main  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a1a1a1;
    font-style: italic;
    opacity:1;
}
.register-main  ::-moz-placeholder { /* Firefox 19+ */
    color: #a1a1a1;
    font-style: italic;
    opacity:1;
}
.register-main  :-ms-input-placeholder { /* IE 10+ */
    color: #a1a1a1;
    font-style: italic;
    opacity:1;
}
.register-main  :-moz-placeholder { /* Firefox 18- */
    color: #a1a1a1;
    font-style: italic;
    opacity:1;
}
.pop-h {
    color: #ff9313;
    font-size: 19px;
    letter-spacing: 2px;
    text-align: left;
    font-family: ProximaNova-Bold;
}
.pop-p {
    color: #626262;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
}
.form-group.forms-btn.btns {
    display: inline-block;
    margin-top: 10px;
    text-align: left;
}
.form-group.forms-btn.btns  .lgn-btn {
    padding: 12px 15px;
}
a:focus{
    outline:none;
}
.fa-dollar-sign::before {
    content: "\f155";
    font-family: FontAwesome1;
}
form > .clr {
    clear: both;
}
.date-picker .form-control {
    padding-right: 32px;
}
.works-listing .register:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
}
.pages-content > p {
    margin-bottom: 30px;
}
.pages-content {
    padding: 30px 0;
}
body.list-temp.pop-open .modal-backdrop {
    z-index: 9999;
}
body.list-temp.pop-open .modal{
    z-index:99999;
}
body.list-temp.modal-open .modal-backdrop {
    z-index: 9999;
}
body.list-temp.modal-open .modal{
    z-index:99999;
}
/* 09-8-18 css */

.nav.navbar-nav.navbar-right li.dropdown {
    width: 80px;
    padding: 0 5px;
    text-align: center;
    margin-top: 0;
}
.nav.navbar-nav.navbar-right a.dropdown-toggle {
    padding: 0;
}
.task-detail1 h6 {
    color: #131313;
}
.jobinfo-inner-div .task-detail1 {
    color: #ff9313;
    font-weight: 500;
}
.alert-success {
    color: #fff;
    background-color: #007e04;
    border-color: #007e04;
}

/* 09-8-18 css */

/*Responsive css*/
@media only screen and (min-width:320px) and (max-width:360px){
    .profile-heading > button, .buy-coins-btn, .profile-heading > a {
        font-size: 10px;
    }
    .form-btn button {
        font-size: 16px;
    }
    .dashboard-sidebar li a {
        font-size: 12px;
    }

} 


@media only screen and (min-width:992px){
    .inbox-main:after {
        content: "";
        height: calc(100% - 52px);
        width: 1px;
        background: rgba(184, 184, 184, 0.5);
        position: absolute;
        right: 45%;
        top: 52px;
    }
    .outer{
        position: relative;

    }
    .inbox-main{
        border-right: none;    
    }
}
@media only screen and (max-width:1400px){
    .banner-text h1 {
        font-size: 52px;
    }
    .banner-text p {
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 22px;
    }
    .banner-links a {
        font-size: 20px;
        padding: 12px 27px;
    }
    .create-list > a {
        font-size: 18px;
        margin-top: 15px;
        padding: 11px 30px;
    }
    .search-page .banner-text p {
        font-size: 17px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .switch-label {

        font-size: 12px;
    }
    section.main-listing.active-pop1 .listing {
        padding-left: 0;
        padding-right: 253px;
    }
    .vou-logo > span {
        left: -70px;
        top: 28px;
    }
    .profile-des > h2 {
        font-size: 22px;
    }
    .vouchers {
        margin-bottom: 0;
        margin-top: 10px;
        padding: 1px 5px;
    }
    .vou-logo {

        padding: 12px 7px;
    }
}
@media only screen and (max-width:1200px){
    .banner-text h1 {
        font-size: 48px;
    }
    .banner-text p {
        font-size: 14px;
        margin-bottom: 18px;
        margin-top: 11px;
    }
    .banner-links a {
        font-size: 18px;
        padding: 8px 20px;
    }
    .create-list > a {
        font-size: 16px;
        margin-top: 13px;
        padding: 11px 19px;
    }
    .search-form input{
        height:45px;
    }
    .search-form button{
        height:40px;
    }
    .search-page  .banner-text h1 {
        font-size: 39px;
    }
    .search-page .banner-text p {
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .switch-label {
        font-size: 9px;
    }
    .navbar-nav li a {
        padding: 0 16px;
    }
    .navbar-nav li.post-a-job > a, .navbar-nav li.login > a{
        margin-left:0;
    }
    section.main-listing.active-pop1 .listing {
        padding-left: 0;
        padding-right: 0;
    }
    .profile-details {
        width: calc(100% - 99px);
    }
    .profile-pic > img {
        height: 93px;
        width: 93px;
    }
    .vou-logo > span {
        left: -52px;
        top: 23px;
    }
    .profile-des > h2 {
        font-size: 20px;
        margin-left: 13px;
    }
    .profile-des > img {
        height: 110px;
        width: 110px;
    }
    .leave-review > textarea {
        height: 95px;
    }
    .rating-main .outer {
        margin: 40px 0 40px 0;
        width:100%;
    }
}
@media only screen and (max-width:1100px){
/*span.user-info {
    width: 149px;
}*/
.user-info li {
    margin: 0 3px;
}
.navbar-nav li a {
    padding: 0px 5px;
}
    /*    .navbar-nav li a {
            font-size: 14px;
            padding: 0 10px;
        }	
         .navbar-nav li a {
            font-size: 12px;
            padding: 0px 7px;
        }*/
}	
@media all and (min-width: 991px) and (max-width:1363px){

    .navbar-nav li a {
        font-size: 13px;
        padding: 0px 14px;
    }
}

@media only screen and (max-width:991px){
    
 .messages-main .message-input .message-form .send:disabled {
    bottom: 70px; 
}
.vou-logo > span {
    left: -30px;
    top: 13px;
}
.vouchers {
    min-height: 370px;
}
.dashboard-sidebar {
 	    min-height: inherit;
}
    .banner-text h1 {
        font-size: 36px;
    }
    .search-page  .banner-text h1 {
        font-size: 36px;
    }
    .dropdown-menu.notify-drop {
        min-width: 172px !important;
    }
    .banner-text p {
        font-size: 14px;
        margin-bottom: 12px;
        margin-top: 6px;
    }
    .banner-links a {
        font-size: 13px;
        padding: 2px 13px;
    }
    button.navbar-toggler {
        line-height: 11px;
        position: relative;
        top: -3px;
        vertical-align: initial;
        width: 55px;
    }
    .navbar-toggler-icon {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 4px;
        display: inline-block;
        height: 3px;
        width: 100%;
    }
    .navbar-collapse {
        padding: 15px 0;
    }
    .navbar-nav.mr-auto.justify-content-end.w100 {
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .navbar-nav.mr-auto.justify-content-end.w100 > li {
        display: inline-block;
        margin: 10px 0;
        text-align: left;
    }
    .fa-remove::before, .fa-close::before, .fa-times::before {
        color: #ffffff;
    }
    .about-us p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 21px;
        margin-bottom: 5px;
    }
    .about-us a {
        margin-top: 8px;
        padding: 8px 15px;
        font-size: 13px;
    }
    .footer-logo img {
        width: 100%;
    }
    .navbar-collapse {
        background: #131313 none repeat scroll 0 0;
        height: 100vh;
        overflow: auto;
        position: fixed;
        right: -250px;
        text-align: left;
        top: 0;
        transition: right 0.5s ease 0s;
        width: 200px;
        z-index: 99;
    }
    .collapse.show {
        display: block;
        right: 0;
    }
    .navbar > button.navbar-toggler {
        margin-right: 0 !important;
        position: absolute;
        right: -10px;
        top: 0;
    }
    .search-page .banner {
        background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll center center / cover ;
        height: 275px;
        position: relative;
    }
    .search-page .banner > img {
        display: none;
        width: 100%;
    }
    .search-form {
        padding: 0 15px;
    }
    .search-form button {
        right: 18px;
    }
    .main-listing .col-md-3 ,.main-listing .col-md-9{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .search-field {
        width: 100%;
    }
    .switch-label {
        font-size: 11px;
    }
    .listing {
        display: inline-block;
        margin-top: 0;
        padding-left: 0;
        transition: all 0.5s ease 0s;
        width: 100%;
    }
    .dropdown {
        padding-left: 25px;
    }
    .navbar-nav li.post-a-job > a, .navbar-nav li.login > a {
        /*margin-left: 15px;*/
    }
    .dropdown {
        padding-left: 15px;
    }
    button.navbar-toggler {
        right: 5px;
    }
    .details-view1.active-pop .details-view {
        margin: 50px auto;
        top:0;
    }
    .details-view1.active-pop {
        height: 100%;
        overflow: auto;
        right: 0;
        width: 100%;
    }
    .detail-poup.modal-backdrop.fade {
        height: 100%;
        top: 0;
    }
    .details-view {
        height: auto !important;
    }
    body.list-temp.pop-open {
        overflow-y: hidden;
    }
    .dashboard-sidebar {
        width: 100%;
    }
    .dashboard-sidebar > ul {
        margin-bottom: 0;
        padding: 0;
    }
    .create-profile {
        padding: 10px 0 20px;
        width: 100%;
    }
    .upload-pic {
        margin: 10px 0 50px 19px;
        width: 160px;
    }
    .messages-main {
        width: 55%;
    }
    .inbox-main {

        width: 45%;
    }
    .jobs-main {
        float: left;
        width: 100%;
    }
    .jobs-main.vouchers-main {
        padding-bottom: 28px;
    }
    .profile-des {
        padding: 19px 20px;
        text-align: center;
    }
    .profile-des > h2 {
        font-size: 20px;
        margin-left: 0;
        margin-top: 12px;
        width: 100%;
    }
    .star-number {
        font-size: 27px;
        padding: 10px 14px;
        vertical-align: sub;
    }
    .leave-review > textarea {
        height: 115px;
    }
    .login-main,.register-main {
        width: 100%;
    }
    /*.details-view1.active-pop {
        position: absolute;
        z-index: inherit;
    }*/
    .modal-open {
        position: fixed;
    }
/*span.user-info {
    display: inline-flex;
    width: 100%;
    padding-top: 5px;
}*/
span.user-info {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
}
.user-info li.no-p {
    width: auto;
    margin-left: 0;
}
.user-info li.dropdown {
    width: auto;
}
li.dropdown.show  a#navbardrop {
    position: absolute;
    top: -35px;
    left: 37px;
}
.user-info li {
    display: inline-block;
    margin:5px;
    color: #fff;
    width: 100%;
    padding: 0;
}
.nav.navbar-nav.navbar-right li.dropdown {
    width: 60px;
    padding: 0 5px;
    text-align: left;
    margin-top: 0;
}
}
@media only screen and (min-width:768px){
    .about-img img{
        display:none
    }
}
@media only screen and (max-width:767px){
    .margin4 {
        margin: 4px 0;
    }
    .main-listing h1 {
        font-size: 21px;
    }
    .banner {
        background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll center center / cover ;
        height: 196px;
        position: relative;
    }
    .banner > img {
        display: none;
        width: 100%;
    }
    .content-text {
        max-width: 619px;
        padding-bottom: 23px;
        padding-left: 21px;
        padding-top: 20px;
    }
    .col-md-6.about-img > img {
        opacity: 1;
        width: 100%;
    }
    .col-md-6.about-img {
        background-image: none;
        background-position: center center;
        background-size: cover;
        height: auto;
    }
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main-header img {
        max-width: 265px;
        width: 100%;
    }
    .top-header {
        padding: 0;
    }
    .navbar {
        padding: 1px 0;
    }
    button.navbar-toggler {
        right: -10px;
    }
    .about-us h4,.section-head,.about-us h4 {
        font-size: 35px;
    }
    .col-3,.col-4 ,.col-2{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .works-listing {
        margin-top: 38px;
        text-align: center;
    }
    footer {
        text-align: left;
    }
    .footer-logo img {
        max-width: 270px;
        width: 100%;
    }
    .works-listing p {
        margin: 0 auto;
    }
    .content-text {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-us.vision .content-text {
        float: right;
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-header {
        padding: 12px 20px;
        text-align: center;
    }
    .modal-dialog {
        width: calc(100% - 40px);
    }
    .modal-body {
        padding: 10px 15px;
    }
    .list-btns {

        padding: 0 15px;
        width: 100%;
    }
    .list-details {
        width: 100%;
    }
    .list-pic {
        border: medium none;
        padding: 0 15px;
        width: 100%;
    }
    .det-imag > img {
        border-radius: 50%;
        height: 82px;
        width: 82px;
    }
    .details-view.active-pop {
        right: 20px;
        top: 66px;
        width: calc(100% - 40px);
    }
    .details-view.active-pop .details-body {
        margin-bottom: 44px;
    }
    .row.slider-mobile {
        display: flex;
    }
    .row.main-slider{
        display:none;
    }
    .footer-links {
        margin-bottom: 20px;
    }
    .sidebar {
        margin-top: 25px;
    }
    .main-header {
        display: none;
    }
    .star .fa.fa-star {
        font-size: 18px;
    }	
    .profile-content h1 {
        font-size: 22px;
    }	
    .content-profile {
        padding: 12px 0 30px 20px;
        width: calc(100% - 152px);
    }	
    .p-profile {
        width: 150px;
    }
    .p-profile > img {
        width: 100px;
    }
    .btn.send {
        width: 150px;
        font-size: 15px;
    }
    .coins {
        font-size: 16px;
    }
    .content-profile > p.info {
        font-size: 17px;
    }
    p.description {
        font-size: 17px;
    }
    .r-view {
        font-size: 17px;
    }
    .verify {
        font-size: 15px;
    }
    .job-complete {
        font-size: 14px;
    }
    .messages-main {
        width: 100%;
    }
    .inbox-main {

        width: 100%;
    }
    .messages-main {
        min-height: auto;
    }
    .chat-content {
        margin-bottom: 134px;
    }
    .login-main {
        padding: 30px 20px;
        margin: 41px auto 0;
    }

    .logo-main img {
        width: 100%;
    }
    .register-main > p {
        padding: 0 20px;
    }
    .register-main form {
        margin-bottom: 33px;
        padding: 0 20px;
    }
    .list-btns > button{
        margin-left:5px;
        margin-right:5px;
    }
    .msg-inner .message-input .message-form .send:disabled, .message-form .send {
        bottom: 45px;
    }
    .msg-inner .message-input {
        height: auto;
        max-height: 90px;
    }

}
@media only screen and (max-width:576px){
    .vouchers-main .search-field {
        max-width: 139px !important;
        right: -34px !important;
    }
    .vouchers {
        min-height: auto;
    }
    footer {
        text-align: center;
    }


    .banner {
        height: 319px;
    }
    .banner-text h1 {
        font-size: 25px;
    }
    .search-page  .banner-text h1 {
        font-size: 25px;
    }
    .banner-links > a:first-child {
        background: #007e04 none repeat scroll 0 0;
        margin-bottom: 20px;
    }
    .banner-links a {
        font-size: 16px;
        margin: 0;
        padding: 7px 13px;
        /*width: calc(100% - 30px);*/
        width: calc(100% - 15px);
    }
    .search-form button {
        right: 18px;
        width: 100px;
    }	
    .modal-title {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
    .modal-title > span {
        font-size: 15px;
    }
    .modal-header .close {
        padding: 12px;
    }
    .modal-content input, .modal-content textarea, .modal-content select {
        font-size: 15px;
        height: 38px;
        padding: 5px 10px;
    }
    .date-picker .form-group:first-child::after {
        background: #cccccc none repeat scroll 0 0;
        content: "";
        height: 1px;
        position: absolute;
        right: -8px;
        top: 19px;
        width: 6px;
    }
    .form-group .fa {
        right: 10px;
        top: 12px;
    }
    .modal-body .continue-links a {
        font-size: 17px;
        height: 40px;
        line-height: 40px;
        width: 100%;
    }
    #recheck .modal-body p {
        font-size: 19px;
        margin-bottom: 19px;
    }
    .already-user {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 0;

    }
    .under-header {
        font-size: 15px;
        letter-spacing: 0;
    }
    .details-view1.active-pop .details-view {
        width: calc(100% - 30px);
    }
    .details-btns button{
        padding: 13px 14px;
    }
    .p-profile {
        float: none;
    }	
    .inner {
        padding: 15px;
    }
    .p-cover {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .content-profile {
        padding: 30px 0;
        width: 100%;
    }
    .profile-content h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .review {
        text-align: center;
    }
    .verify {
        display: inline-block;
        float: none;
        font-size: 13px;
    }
    .detail {
        padding-left: 0;
        width: 100%;
        display: inline;
    }
    .img-list {
        margin-right: 10px;
    }
    .det-imag {
        width: 28%;
    }
    .det-imag > img {
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }
    .details-body > span.det-review {
        width: 21%;
    }
    .form-btn button {
        height: 45px;
        padding: 11px 15px;
        width: 119px;
    }
    .profile-heading > button.reedme-vou{
        display:none;
    }
    .job-table table td {
        color: #535353;
        font-family: ProximaNova-Regular;
        font-size: 14px;
        padding-left: 0;
        padding-right: 2px;
    }
    .job-table table td {
        padding-right: 14px;
    }
    .job-table table td button {
        padding: 4px;
    }
    .job-table {
        overflow: auto;
    }
    .online {
        top: -2px;
    }
    .job-table .table {
        max-width: 700px;
        width: 700px;
    }
    .vouchers {

        margin: 30px auto 0;
        width: 261px;
    }
    .vou-logo > span{
        left: -86px;
    }
    .reply-msg .fa {
        font-size: 13px;
    }
    .profile-heading{
        font-size: 16px;
    }
    .profile-rating .rating i.fa {
        color: #ff9313;
        font-size: 21px;
    }
    .rating-preview {
        padding-left: 0;
    }
    .star-number {
        font-size: 27px;
        margin-top: 20px;
        padding: 10px 14px;
        vertical-align: sub;
    }
    .pop-h {
        font-size: 16px;
    }
    .pop-p {
        font-size: 14px;
    }
    .form-group.forms-btn.btns .lgn-btn {
        font-size: 16px;
        padding: 5px 12px;
        margin: 6px;
    }
    .react-datepicker__triangle {
        left: 161px !important;
    }
    .react-datepicker-popper{
        left: -120px !important;
    }
    .form-group.start-date .react-datepicker-popper {
        left: 0px !important;
    }
    .form-group.start-date .react-datepicker__triangle {
        left: 60px !important;
    }
    .search-form input{
        font-size: 12px;
        padding: 0 8px;
    }
    .search-form button {
        width: 58px;
        font-size: 11px;
    }
    .actions {
        float: none !important;
        width: 100%;
        margin: 11px 0 0;
        display: inline-block;
    }
        span.float-right {
            float: none !important;
            display: inline-block;
            margin: 10px auto;
            text-align: center !important;
        }
}
.banner-text p {
    margin-top: 0;
}
.notification-container{
    word-wrap: break-word;
}





.modal-backdrop {
    position: relative !important;
}


.center {
    text-align: center;
}


.react-datepicker-wrapper {
    width: 100% !important;
}
.react-datepicker__input-container {
    width: 100% !important;
}


.pagination {
    display: inline-block;
    margin: 22px 0;
    text-align: center;
    width: 100%;
}
.pagination li {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    display: inline-block;
    height: 35px;
    line-height: 30px;
    margin: 0 4px;
    text-align: center;
    width: 37px;
}
.pagination li a {
    color: #007e04;
    display: inline-block;
    width: 100%;
}
.pagination li:hover {
    background: #007e04 none repeat scroll 0 0;
}
.pagination li:hover a {
    color: #ffffff;
}
.pagination li.active{
    background: #007e04 none repeat scroll 0 0;
}
.pagination li.active a {
    color: #ffffff;
}



.switch-label {
    background: #f4f4f4;
}
.switch-input.active + label {
    background: #ff9313;
    color: #fff;
}

.filters li input.active + label {
    background: rgba(0, 0, 0, 0) url(../images/radio-checked.png) repeat scroll 0 0;
}
.modal-open {
    overflow: visible;
}

.notify-details > p {
    color: #333;
    font-size: 14px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 260px;
}
.notification:hover > .notify-details > p{
    color: #333;
    font-size: 14px;
    float: left;
  
}

.inbox-main li.notification {
    margin-top: 0px !important;
}
.actions {
    float: right;
}
.actions > button {
    margin: 4px;
}


.btton-close {
    margin-left: 5px;
}

.camel_font {
    text-transform: capitalize;
}
.active-badge {
    float: right; 
    font-size: 16px;
}

.star_color{
    color:#ffa200 !important;
}

.btn-filter {
    background: #ff9313;
    color: #fff;
    margin-bottom: 20px;
}
.margin6x{
    margin-left:6px;
}





/**Chat messageing*/

.thread-container
{
    flex-grow:1;
    /*overflow-y:scroll;*/
    overflow-y:auto;
    position:relative;
    height: 500px;
    /*max-height:600px;*/
}
.thread-container::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#cac8ee
}
.thread-container::-webkit-scrollbar
{
    width:5px;background-color:green
}
.thread-container::-webkit-scrollbar-thumb
{
    background-color:#484d79
}
.thread-container .thread{
    position:relative;
    width:100%;
    /*min-height:600px;*/
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    color:#b3b2ca;
    /*background:#dcddf5*/
}
.message-container{
    display:flex;
    justify-content:flex-start;
    min-height:50px;
    margin:10px 15px;
    animation:.65s ease-out 0s show
}
.message-container .time{
    order:1
}
.message-container .data{
    order:2;
    height:100%;
    margin-left:25px
}
.message-container .name{
    font-size:.65em;
    margin-top:5px;
    text-align:right
}
.message-container .message{
    background:#fff;
    border-radius:5px;
    border-top-left-radius:0;
    box-sizing:border-box;
    color:#b3b2ca;
    height:100%;
    padding:10px 15px;
    position:relative
}
@keyframes show{0%{opacity:0}100%{opacity:1}}
.message-container .message::before{
    border-bottom-color:transparent;
    border-left-color:transparent;
    border-right-color:#fff;
    border-style:solid;
    border-top-color:#fff;
    border-width:4px;
    content:'';
    height:0;
    left:-7px;
    position:absolute;
    top:0;
    width:0
}
.message-container.right{
    text-align:right;
    justify-content:flex-end
}
.message-container.right .time{
    order:2;
    margin-left:25px
}
.message-container.right .data{
    margin-left:0;
    order:1
}
.message-container.right .name{
    display:none
}
.message-container.right .message{
    background:#89a1fc;
    color:#fff;
    border-top-right-radius:0;
    border-top-left-radius:5px
}
.message-container.right .message::before{
    border-top-color:#89a1fc;
    border-left-color:#89a1fc;
    border-right-color:transparent;
    left:auto;
    right:-7px
}
.message-container.left .message{
    background:#ccc;
    color:#fff;
    border-top-right-radius:0;
    border-top-left-radius:5px
}
.message-container.left .message::before{
    border-top-color:#ccc;
    border-left-color:#ccc;
    border-right-color:transparent;
    left:auto;
    right:-7px
}
#message{
    padding-right: 60px;
}
.typing-user{
    text-align:right;
    margin:10px 15px
}
.message-input{
    background:white;
    color:#484d79;
    box-sizing:border-box;
    height:10vh;max-height:65px
}
.message-input .message-form{
    height:100%;
    width:100%;
    display:flex;
    justify-content:space-between;

}
.message-input .message-form .form-control{
    background: #f8f5f5 none repeat scroll;
    padding-top:24px;
    padding-bottom:24px;
    resize:none;
    padding-left:15px;
    box-sizing:border-box;
    width:100%;
    height:100%;
}
.message-input .message-form .form-control::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#cac8ee
}
.message-input .message-form .form-control::-webkit-scrollbar{
    width:5px;
    background-color:green
}
.message-input .message-form .form-control::-webkit-scrollbar-thumb{
    background-color:#484d79
}
.message-input .message-form .form-control:focus{
    outline:none
}
.message-input .message-form .message-input .message-form .send:disabled{
    opacity:.2;background:#5d5d8a
}

.send{
    background: #007e04 none repeat scroll 0 0;
    border: medium none;
    border-radius: 40px;
    bottom: 98px;
    color: #ffffff;
    height: 40px;
    position: absolute;
    right: 60px;
    text-align: center;
    width: 40px;
}
.message-input .message-form .send:disabled {
    opacity: .2;
    background: #007e04 none repeat scroll 0 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 60px;
    bottom: 98px;
}

.message-input .message-form .form-control {
    background: #f8f5f5 none repeat scroll;

    min-height: 86px;
}
.message-input {
    float: left;
    width: 100%;
    padding-right: 25px;
    margin-bottom: 23px;
}

.btn-back {
    margin-right: 20px;
    padding: 11px;
    margin-top: -5px;
    background: #007004;
}
.flag{
    cursor:pointer;
}
.ml-5px{
    margin-left: 5px;
}   
.btn-outline-success:hover {
    color: #fff;
    background-color: #007e04;
    border-color: #28a745;
}

.Select-control {
    height: 44px !important;
}

#helpClick{
    border-right: 2px solid #ff9313;
}
.float-left{
    float:left;
}
.no_list_found{
    width:100%;
    float:left;
}
.mrt5{
    margin-left: 5px 
}
.task-detail1 {
    border-top: 1px solid #cacaca;
    color: #131313;
    font-family: ProximaNova-Regular;
    font-size: 17px;
    padding: 6px 0px;
}
.jobtable-custom .table {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1rem;
    margin-left: 0px;
    max-width: 100%;
    width: 100%;
}

/*Notification css*/

.dropdown-menu.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height: 360px;
    max-height: 360px;
}
.dropdown-menu.notify-drop .notify-drop-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 15px 10px 15px;
}
.dropdown-menu.notify-drop .drop-content {
    min-height: 280px;
    max-height: 280px;
    overflow-y: scroll;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
    background-color: #ccc;
}
.dropdown-menu.notify-drop .drop-content > li {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0px 5px 0px;

}
.dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
    background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
    content: "";
    clear: both;
    display: block;
}
.dropdown-menu.notify-drop .drop-content > li:hover {
    background-color: #fcfcfc;
}
.dropdown-menu.notify-drop .drop-content > li:last-child {
    border-bottom: none;
}
.dropdown-menu.notify-drop .drop-content > li .notify-img {
    float: left;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 0px 8px 0px;
}
.dropdown-menu.notify-drop .allRead {
    margin-right: 0;
    padding: 0;
}
.dropdown-menu.notify-drop .rIcon {
    float: right;
    color: #999;
}
.dropdown-menu.notify-drop .rIcon:hover {
    color: #333;
}
.dropdown-menu.notify-drop .drop-content > li a {
    font-size: 12px;
    font-weight: normal;
}
.dropdown-menu.notify-drop .drop-content > li {
    font-weight: bold;
    font-size: 11px;
}
.dropdown-menu.notify-drop .drop-content > li hr {
    margin: 5px 0;
    width: 70%;
    border-color: #e2e2e2;
}
.dropdown-menu.notify-drop .drop-content .pd-l0 {
    padding-left: 0;
}
.dropdown-menu.notify-drop .drop-content > li p {
    color: #131313;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
}
.dropdown-menu.notify-drop .drop-content > li p.time {
    font-size: 10px;
    font-weight: 600;
    top: -6px;
    margin: 8px 0px 0px 0px;
    padding: 0px 3px;
    border: 1px solid #e2e2e2;
    position: relative;
    background-image: linear-gradient(#fff,#f2f2f2);
    display: inline-block;
    border-radius: 2px;
    color: #B97745;
}
.dropdown-menu.notify-drop .drop-content > li p.time:hover {
    background-image: linear-gradient(#fff,#fff);
}
.dropdown-menu.notify-drop .notify-drop-footer {
    border-top: 1px solid #e2e2e2;
    bottom: 0;
    position: relative;
    padding: 8px 15px;
}
.dropdown-menu.notify-drop .notify-drop-footer a {
    color: #777;
    text-decoration: none;
}
.dropdown-menu.notify-drop .notify-drop-footer a:hover {
    color: #333;
}
.pd-140{
    padding-right:140px;
}
.red{
    color:red;
    background: #ff9313 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 11px;
    height: 18px;
    padding: 1px 0 0;
    position: absolute;
    right: 31px;
    text-align: center;
    top: -8px;
    width: 18px;
}
.modal-body-job-info{
    padding: 35px 30px;
}
.jobinfo-inner-div{
    /*  padding: 0 16px; */
    padding: 0 20px; 
}

/*
 * Component: Direct Chat
 * ----------------------
 */
.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}
.direct-chat.chat-pane-open .direct-chat-contacts {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    overflow: auto;
}
.direct-chat-msg,
.direct-chat-text {
    display: block;
}
.direct-chat-msg {
    margin-bottom: 10px;
}
.direct-chat-msg:before,
.direct-chat-msg:after {
    content: " ";
    display: table;
}
.direct-chat-msg:after {
    clear: both;
}
.direct-chat-messages,
.direct-chat-contacts {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444444;
    float:left;
}
.direct-chat-text:after,
.direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}
.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}
.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}
.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
    float:right;
}
.right .direct-chat-text:after,
.right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}
.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}
.right .direct-chat-img {
    float: right;
}
.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}
.direct-chat-name {
    font-weight: 600;
}
.direct-chat-timestamp {
    color: #999;
}
.direct-chat-contacts-open .direct-chat-contacts {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.direct-chat-contacts {
    -webkit-transform: translate(101%, 0);
    -ms-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
    background: #222d32;
    color: #fff;
    overflow: auto;
}
.contacts-list > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0;
}
.contacts-list > li:before,
.contacts-list > li:after {
    content: " ";
    display: table;
}
.contacts-list > li:after {
    clear: both;
}
.contacts-list > li:last-of-type {
    border-bottom: none;
}
.contacts-list-img {
    border-radius: 50%;
    width: 40px;
    float: left;
}
.contacts-list-info {
    margin-left: 45px;
    color: #fff;
}
.contacts-list-name,
.contacts-list-status {
    display: block;
}
.contacts-list-name {
    font-weight: 600;
}
.contacts-list-status {
    font-size: 12px;
}
.contacts-list-date {
    color: #aaa;
    font-weight: normal;
}
.contacts-list-msg {
    color: #999;
}
.direct-chat-danger .right > .direct-chat-text {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #ffffff;
}
.direct-chat-danger .right > .direct-chat-text:after,
.direct-chat-danger .right > .direct-chat-text:before {
    border-left-color: #dd4b39;
}
.direct-chat-primary .right > .direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #ffffff;
}
.direct-chat-primary .right > .direct-chat-text:after,
.direct-chat-primary .right > .direct-chat-text:before {
    border-left-color: #3c8dbc;
}
.direct-chat-warning .right > .direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}
.direct-chat-warning .right > .direct-chat-text:after,
.direct-chat-warning .right > .direct-chat-text:before {
    border-left-color: #f39c12;
}
.direct-chat-info .right > .direct-chat-text {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #ffffff;
}
.direct-chat-info .right > .direct-chat-text:after,
.direct-chat-info .right > .direct-chat-text:before {
    border-left-color: #00c0ef;
}
.direct-chat-success .right > .direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #ffffff;
}
.direct-chat-success .right > .direct-chat-text:after,
.direct-chat-success .right > .direct-chat-text:before {
    border-left-color: #00a65a;
}
.right .direct-chat-msg .direct-chat-text{
    background: #f39c12;
    border-color: #f39c12;
    color: #fff;
}
.right .direct-chat-msg .direct-chat-text:after{
    border-left-color: #f39c12;
}


.text-area_msg {

    padding-right:65px !important;
}

.avtar{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/*.languageDiv p {
    margin: 0;
}
.languageDiv:hover p:nth-child(2) {
    display: block;
}
.languageDiv p:nth-child(2) {
    position: absolute;
    display: none;
    padding-top: 10px;
}*/
.pointer{
    cursor:pointer;
}
.green{
   color: #28a745
}
.margin4{
    margin-left: 4px;
}
.none{
    display:none !important;
}
.username-anchor{
    text-transform: capitalize !important;
}
.username-anchor span {
    width: 58px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0 !important
}
.white{
    color:#ffffff;
    padding-left: 4px;
}
.pd-4-left{
    padding-left: 4px;
}
.pointerNone{
    cursor:text;
}

.vouchers-main .search-field {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.27);
    display: inline-block;
    position: absolute;
    max-width: 251px;
    right: 15px;
    top: 15px;
}
.vouchers-main {
    float: left;
    width: 74%;
    position: relative;
}

