<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Manage <%=  data.title %>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active"><%=  data.title %></li>
                </ol>
            </section>
            <!-- general form elements -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><%=  data.title %></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" action="/save-cms-content" method="POST">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Page Name / Page Title</label>
                                    <input type="hidden" id="hidden_page_type"  name="page_type" value="<%=  data.page_type %>">
                                    <input type="text" required="required" id="page_name" value=" <%=  data.title %>" class="form-control val_err" name="page_name" placeholder="Enter Page Name...">
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Manage Content
                                    </h3>
                                    <!-- tools box -->
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                                title="Collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>

                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <textarea id="editor1" name="editor1" rows="10" cols="80">
                                        <%=  data.content %>
                                       
                                    </textarea>
                                </div>
                            </div>
                            <% if(query.type == 'footer') { %>

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="sel1">Footer Type:</label>
                                    <select class="form-control val_err footer_type" id="footer_type">
                                        <option value="">Select Footer Type</option>
                                        <option <%= data.footer_type=='company' ? 'Selected' : '' %> value="company">Company</option>
                                        <option <%= data.footer_type == 'resource' ? 'Selected' : '' %> value="resource">Resource</option>
                                    </select>
                                </div>
                            </div>
                            <% } %>

                            <div class="box-footer">
                                <button type="Button" id="cms_save_button" class="btn btn-primary">Save</button>
                            </div>

                        </form>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.box -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>


    </div>

    <% include ../partials/footer %>
    <script type="text/javascript">
        $(function () {
            $('#cms_save_button').on('click', function (event) {
                var val = true;
                $(".val_err").each(function () {
                    if ($(this).val() == '') {
                        $(this).css("border-color", "red");
                        val = false;
                    } else {
                        val = true;
                        $(this).css("border-color", "#d2d6de");
                    }
                });
                var hidden_page_type = $("#hidden_page_type").val();
                var page_name = $("#page_name").val().trim();
                var page_type = page_name.replace(/ /g, '_');
                 page_type = page_type.replace("&", "");
                var text = CKEDITOR.instances.editor1.getData();
                if ($('#footer_type').hasClass("footer_type")) {
                    var footer_type_val = $("#footer_type").val().trim();
                    var redirect_type= 'footer';
                } else {
                    var footer_type_val = '';
                    var redirect_type= 'header';
                }
                if (val) {
                    $.ajax({
                        method: 'POST',
                        url: '/saveCmsPagesData',
                        data: {
                            hidden_page_type: hidden_page_type,
                            new_page_type: page_type,
                            page_name: page_name,
                            content: text,
                            footer_type : footer_type_val
                        },
                        type: JSON
                    }).done(function (msg) {
                        console.log(msg)
                        if (msg.success == true) {
                            alert('Content saved successfully')
//                            location.reload();
                            window.location = "/cmspage?page=" + page_type+"&type="+redirect_type;
                        } else {
                            alert('Content not saved successfully')
                        }
                    });
                }
            });
        })
    </script>