<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Add Staff Member
                </h1>

                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active">Add Staff Member</li>
                </ol>
            </section>
            <!-- general form elements -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Add Staff Member</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" action="#" method="POST" id="staff_form" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Firstname</label>
                                    <input type="text" class="form-control val_err" id="firstname" name="firstname" placeholder="Enter Firstname Name...">
                                </div>
                                <div class="form-group">
                                    <label>Lastname</label>
                                    <input type="text" class="form-control val_err"  id="lastname" name="lastname" placeholder="Enter Lastname..">
                                </div>                                
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control val_err" name="username" id="username" placeholder="Enter Username..">
                                </div>                                
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control val_err" name="email" id="email" placeholder="Enter Email..">
                                </div>                                
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control val_err" name="password" id="password" placeholder="Enter paasword..">
                                </div>                                
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control val_err" name="cnf-password" id="cnf-password" placeholder="Enter Confirm Password..">
                                </div>                                

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" id="add_staff">SAVE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.box -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>


    </div>

    <% include ../partials/footer %>
    <script>
        $(function () {
            
            $('#add_staff').on('click', function (event) {
               
                var val = true;
                $(".val_err").each(function () {
                    if ($(this).val() == '') {
                        $(this).css("border-color", "red");
                        val = false;
                    } else {
                        val = true;
                        $(this).css("border-color", "#d2d6de");
                    }
                });
                var pswd = $("#password").val();
                var cnf_pswd = $("#cnf-password").val();
                if(pswd != cnf_pswd){
                    alert('password and confirm password is not match')
                    val = false;
                    return false
                }
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                if(!emailReg.test($("#email").val())){
                 alert('email is not valid');
                    val = false;
                    return false
                }   
                if (val) {
                    
                    console.log('here')
                    $.ajax({
                        method: 'POST',
                        url: '/saveStaffMember',
                        data: {
                            firstname   :   $("#firstname").val(),
                            lastname    :   $("#lastname").val(),
                            username    :   $("#username").val(),
                            email       :   $("#email").val(),
                            password    :   $("#password").val()
                        },
                        type:JSON
                    }).done(function (msg) {
                        if(msg.succes){
//                                alert('Staff member saved successfully')
                               window.location='/staffMemberList';

//                              alert('Staff member saved successfully')
//                              $('#staff_form')[0].reset();
                        }else{
                             alert(msg.message)
                        }
                       
                        
                    });
                }
                
            });
        })

    </script>