<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>
    
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Add Voucher
                </h1>
                    <!-- show any messages that come back with authentication -->
                    <% if (message.length > 0) { %>
                        <div class="alert alert-success"><%= message %></div>
                    <% } %>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active">Add Vouchers</li>
                </ol>
            </section>
            <!-- general form elements -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Add Voucher</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" action="/savevoucher" method="POST" id="upload-photos"  enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Voucher Name</label>
                                    <input type="text" class="form-control val_err" name="voucher_name" placeholder="Enter voucher Name...">
                                </div>
                                <div class="form-group">
                                    <label>Zip code</label>
                                    <input type="text" class="form-control val_err" name="voucher_zip" placeholder="Enter Zip..">
                                </div>
                                <div class="form-group">
                                    <label>Points</label>
                                    <input type="number" class="form-control val_err" name="voucher_points" placeholder="Enter points..">
                                </div>
                                <!-- Date range -->
                                <div class="form-group">
                                    <label>Date range:</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" name="voucher_date_range" class="form-control pull-right val_err" id="reservation">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                                <!-- Date and time range -->
                                <div class="form-group">
                                    <label for="exampleInputFile">Voucher Image</label>
                                    <input type="file" id="exampleInputFile" name="file" class="val_err form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Voucher Content</label>
                                     <div class="box-body pad">
                                    <textarea id="editor1" name="desc" rows="10" cols="80">
                                      Voucher Content 
                                   </textarea>
                                </div>
                                </div>
                               
                              

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" id="add_voucher_button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.box -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>


    </div>

    <% include ../partials/footer %>
    <script>
        $(function () {
            $('#add_voucher_button').on('click', function (event) {
               var val =true;
                $(".val_err").each(function () {
                    if ($(this).val() == '') {
                        $(this).css("border-color", "red");
                        val = false;
                    } else {
                        val = true;
                        $(this).css("border-color", "#d2d6de");
                    }
                });

                // Get the files from input, create new FormData.
                var files = $('#exampleInputFile').get(0).files;

                if (files.length > 0) {
                    var image_size = formatBytes(files[0].size);
                    if (parseInt(image_size) > 20) {
                        val = false;
                        alert('Image size is not greater than 20 kb.');
                        return false;
                    }
                }
                if(val){
                     $('#upload-photos').submit();
                }
            });
            
            //Date Range picker
            $('#reservation').daterangepicker()

        })

        function formatBytes(a, b) {
            if (0 == a)
                return"0 Bytes";
            var c = 1024, d = b || 2, e = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], f = Math.floor(Math.log(a) / Math.log(c));
            return parseFloat((a / Math.pow(c, f)).toFixed(d)) + " " + e[f]
        }

    </script>