<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    All Jobs
                    <small>Welcome  <%= admin.username %></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active">All Jobs</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Job table</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="jobList" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            Filter -  By Status:
                                    <select name="filter_status" id="filter_status" class="input-sm" style="margin-bottom: 5px;">
                                        <option value="">Choose status</option>
                                        <option value="OPEN">Open</option>
                                        <option value="CLOSE">Close</option>
                                    </select>
                                    By Type:
                                    <select name="filter_type" id="filter_type" class="input-sm" style="margin-bottom: 5px;">
                                        <option value="">Choose Type</option>
                                        <option value="HELP">Help</option>
                                        <option value="JOB">Job</option>
                                    </select>
                                    </tr>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Zipcode</th>
                                        <th>Price</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Hired</th>
                                        <th>Options</th>
                                    </tr>
                                    </thead>
                                    <tbody> 
                                        <% jobs.forEach(function(job) { %>
                                        <tr>
                                            <td><%=  job.title %></td>
                                            <td><%=  job.description.substring(0, 90) %></td>
                                            <td><%=  job.pincode %></td>
                                            <td><%=  job.price %></td>
                                            <td><%=  job.type %></td>
                                            <td>
                                                <% if(job.status === "OPEN") { %>
                                    <spa class="label label-info">OPEN</spa>
                                    <% } else { %> 
                                    <spa class="label label-danger">CLOSED</spa>
                                    <% } %>
                                    </td>
                                    <td>
                                        <% if(job.hiredUserId) { %>
                                        <span class="label label-success">HIRED</span>
                                        <% } else { %> 
                                    <spa class="label label-info">OPEN</spa>
                                    <% } %>
                                    </td>
                                    <td>
                                        <% if(!admin.sub_admin){ %>
                                        <% if(job.active){ %>
                                        <button class="btn btn-warning btn-flat" onclick="editJobModal('<%= job._id %>', 'false')">Disable</button>
                                        <button class="btn btn-danger btn-flat" onclick="delJobModal('<%= job._id %>')">Delete</button>
                                        <% } else { %>  
                                        <button class="btn btn-success btn-flat" onclick="editJobModal('<%= job._id %>', 'true')">Enable</button>
                                        <button class="btn btn-danger btn-flat" onclick="delJobModal('<%= job._id %>')">Delete</button>
                                        <% } } %>

                                        <% if(job.hiredUserId){ %>
                                        <button class="btn btn-info btn-flat" onclick="viewFullJob('<%= job._id %>')">User Details</button>
                                        <% } %>  
                                    </td>
                                    </tr>
                                    <% }) %>

                                    </tbody>

                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->

    <div class="modal fade" id="modal-jobview">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <!-- <h4 class="modal-title">Job User Detail</h4> -->
                </div>
                <div class="modal-body">
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-green">
                            <!-- <div class="widget-user-image">
                              <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                            </div> -->
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">
                                <span id="clientFname"></span> <span id="clientLname"></span>
                                - Client
                            </h3>
                            <!-- <h5 class="widget-user-desc">Lead Developer</h5> -->
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="#">Email <span class="pull-right"><span id="clientEmail"></span></span></a></li>
                                <li><a href="#">Username <span class="pull-right"><span id="clientUsername"></span></span></a></li>
                                <li><a href="#">Zipcode <span class="pull-right badge bg-aqua"><span id="clientZipcode"></span></span></a></li>
                                <li><a href="#">Coins<span class="pull-right badge bg-green"> <span id="clientCoins"></span></span></a></li>
                                <li><a href="#">User Rating<span class="pull-right badge bg-green"> <span id="clientRating"></span></span> </a></li>
                                <li><a href="#">Job Cost<span class="pull-right badge bg-green"> <span id="jobCost"></span></span> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-yellow">
                            <!-- <div class="widget-user-image">
                              <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                            </div> -->
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">
                                <span id="jobFname"></span> <span id="jobLname"></span>
                                - Applicant  
                            </h3>
                            <!-- <h5 class="widget-user-desc">Lead Developer</h5> -->
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="#">Email <span class="pull-right"><span id="jobUemail"></span></span></a></li>
                                <li><a href="#">Username <span class="pull-right"><span id="jobUname"></span></span></a></li>
                                <li><a href="#">Zipcode <span class="pull-right badge bg-aqua"><span id="jobUzipcode"></span></span></a></li>
                                <li><a href="#">Coins<span class="pull-right badge bg-green"> <span id="jobUcoins"></span></span></a></li>
                                <li><a href="#">User Rating<span class="pull-right badge bg-green"> <span id="jobUrating"></span></span> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <% include ../partials/footer %>
    <script type="text/javascript">

        // Edit Job Modal
        const editJobModal = (id, status) => {
            if (confirm('Are you Sure you want to update job!')) {
                if (id && status) {
                    $.ajax({
                        method: "POST",
                        url: "/editJob",
                        data: {id, status}
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }


        // Edit User Modal
        const delJobModal = (id) => {
            if (confirm('Are you Sure you want to delete job!')) {
                if (id) {
                    $.ajax({
                        method: "POST",
                        url: "/deleteJob",
                        data: {id}
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }

        // View Full Job Details
        const viewFullJob = (id) => {
            if (id) {
                $.ajax({
                    method: "POST",
                    url: "/getJobDetail",
                    data: {id}
                }).done(function (msg) {
                    //console.log(msg[0]);
                    //alert(JSON.stringify(msg) );

                    // Applicant Details
                    $("#jobFname").html(msg[0].userinfo.firstname);
                    $("#jobLname").html(msg[0].userinfo.lastname);
                    $("#jobUemail").html(msg[0].userinfo.email);
                    $("#jobUname").html(msg[0].userinfo.username);
                    $("#jobUzipcode").html(msg[0].userinfo.zipcode);
                    $("#jobUcoins").html(msg[0].userinfo.coins);

                    // Client Details
                    $("#clientFname").html(msg[0].clientinfo.firstname);
                    $("#clientLname").html(msg[0].clientinfo.lastname);
                    $("#clientEmail").html(msg[0].clientinfo.email);
                    $("#clientUsername").html(msg[0].clientinfo.username);
                    $("#clientZipcode").html(msg[0].clientinfo.zipcode);
                    $("#clientCoins").html(msg[0].clientinfo.coins);

                    // Job details
                    $("#jobCost").html(msg[0].price);

                    switch (msg[0].userinfo.rating) {
                        case "1":
                            $("#jobUrating").html('<i class="glyphicon glyphicon-star"></i>');
                            break;
                        case "2":
                            $("#jobUrating").html('<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>');
                            break;
                        case "3":
                            $("#jobUrating").html('<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>');
                            break;
                        case "4":
                            $("#jobUrating").html('<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>');
                            break;
                        case "5":
                            $("#jobUrating").html('<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>');
                            break;
                        default:
                            console.log('default');
                    }

                    switch (msg[0].clientinfo.rating) {
                        case "1":
                            $("#clientRating").html('<i class="glyphicon glyphicon-star"></i>');
                            break;
                        case "2":
                            $("#clientRating").html('<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>');
                            break;
                        case "3":
                            $("#clientRating").html('<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>');
                            break;
                        case "4":
                            $("#clientRating").html('<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>');
                            break;
                        case "5":
                            $("#clientRating").html('<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>');
                            break;
                        default:
                            console.log('default');
                    }

                });
            }
            $("#modal-jobview").modal();
        }

    </script>

