<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Keyword List
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active">Keyword List</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Keyword List</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="userList" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Keyword</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(keyword_data) { %>
                                        <tr>
                                            <td><%=  keyword_data.value %></td>
                                            <td>
                                                <button class="btn btn-danger btn-flat" onclick="delKeywordModal('<%= keyword_data._id %>')">Delete</button>
                                                <a href="/editkeyword/<%= keyword_data._id %>"><button class="btn btn-success btn-flat">Edit</button></a>
                                            </td>
                                        </tr>
                                        <% }) %>

                                    </tbody>

                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->

    <% include ../partials/footer %>
    <script type="text/javascript">


        // Edit User Modal
        const delKeywordModal = (id) => {
            if (confirm('Are you Sure you want to delete!')) {
                if (id) {
                    $.ajax({
                        method: "POST",
                        url: "/delkeywordModal",
                        data: {id}
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }

    </script>


