<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Update Profile
                </h1>

                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active">Update Profile</li>
                </ol>
            </section>
            <!-- general form elements -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Update Profile</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" action="/updateprofile" method="POST" id="profile_form" enctype="multipart/form-data">
                            <div class="box-body">
                                <input type="hidden" value="<%= admin._id %>" id="userid" name="userid">

                                <div class="form-group">
                                    <label>Firstname</label>
                                    <input type="text" class="form-control val_err" value="<%= admin.firstname %>" id="firstname" name="firstname" placeholder="Enter Firstname Name...">
                                </div>
                                <div class="form-group">
                                    <label>Lastname</label>
                                    <input type="text" class="form-control val_err" value="<%= admin.lastname %>" id="lastname" name="lastname" placeholder="Enter Lastname..">
                                </div>                                
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control val_err" value="<%= admin.username %>" name="username" id="username" placeholder="Enter Username..">
                                </div>                                
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control val_err" value="<%= admin.email %>" name="email" id="email" placeholder="Enter Email..">
                                </div>                                
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter paasword..">
                                </div>                                
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" name="cnf-password" id="cnf-password" placeholder="Enter Confirm Password..">
                                </div>                                

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" id="update_profile">SAVE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.box -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>


    </div>

    <% include ../partials/footer %>
    <script>
        $(function () {
            
            $('#update_profile').on('click', function (event) {
               
                var val = true;
                $(".val_err").each(function () {
                    if ($(this).val() == '') {
                        $(this).css("border-color", "red");
                        val = false;
                    } else {
                        val = true;
                        $(this).css("border-color", "#d2d6de");
                    }
                });
                var pswd = $("#password").val();
                var cnf_pswd = $("#cnf-password").val();
                if(pswd !='' && cnf_pswd==''){
                   $('#cnf-password').css("border-color", "red");
                    val = false;
                    return false
                }else{
                    val = true;
                    $('#cnf-password').css("border-color", "#d2d6de");
                }
                if(cnf_pswd !='' && pswd==''){
                   $('#password').css("border-color", "red");
                    val = false;
                    return false
                }else{
                    val = true;
                    $('#password').css("border-color", "#d2d6de");
                }
                if(pswd != cnf_pswd){
                    alert('password and confirm password is not match')
                    val = false;
                    return false
                }
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                if(!emailReg.test($("#email").val())){
                 alert('email is not valid');
                    val = false;
                    return false
                }   
                if (val) {
                    
                    $.ajax({
                        method: 'POST',
                        url: '/updateprofile?validation=true',
                        data: {
                            id          :   $("#userid").val(),
                            username    :   $("#username").val(),
                            email       :   $("#email").val()
                        },
                        type:JSON
                    }).done(function (msg) {
                        if(msg.error == true){
                            if(msg.message.email){
                                 alert(msg.message.email)
                            }
                            if(msg.message.username){
                                 alert(msg.message.username)
                            }
                        }else{
                            alert('profile updated successfullly!')
                            $('#profile_form').submit();
                        }
                       
                        
                    });
                }
                
            });
        })

    </script>