<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    All Staff Members
                    <small>Welcome  <%= admin.username %></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active">Staff Members list</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Staff Members table</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="jobList" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(userlist) { %>
                                        <tr>
                                            <td><%=  userlist.firstname %></td>
                                            <td><%=  userlist.lastname %></td>
                                            <td><%=  userlist.username %></td>
                                            <td><%=  userlist.email %></td>
                                            <td>
                                                <% if(userlist.active){ %>
                                                <button class="btn btn-warning btn-flat" onclick="editUserModal('<%= userlist._id %>', 'false')">Disable</button>
                                                <button class="btn btn-danger btn-flat" onclick="delUserModal('<%= userlist._id %>')">Delete</button>
                                                <% } else { %>  
                                                <button class="btn btn-success btn-flat" onclick="editUserModal('<%= userlist._id %>', 'true')">Enable</button>
                                                <button class="btn btn-danger btn-flat" onclick="delUserModal('<%= userlist._id %>')">Delete</button>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->

    <div class="modal fade" id="modal-jobview">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <!-- <h4 class="modal-title">Job User Detail</h4> -->
                </div>
                <div class="modal-body">
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-green">
                            <!-- <div class="widget-user-image">
                              <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                            </div> -->
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">
                                <span id="clientFname"></span> <span id="clientLname"></span>
                                - Client
                            </h3>
                            <!-- <h5 class="widget-user-desc">Lead Developer</h5> -->
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="#">Email <span class="pull-right"><span id="clientEmail"></span></span></a></li>
                                <li><a href="#">Username <span class="pull-right"><span id="clientUsername"></span></span></a></li>
                                <li><a href="#">Zipcode <span class="pull-right badge bg-aqua"><span id="clientZipcode"></span></span></a></li>
                                <li><a href="#">Coins<span class="pull-right badge bg-green"> <span id="clientCoins"></span></span></a></li>
                                <li><a href="#">User Rating<span class="pull-right badge bg-green"> <span id="clientRating"></span></span> </a></li>
                                <li><a href="#">Job Cost<span class="pull-right badge bg-green"> <span id="jobCost"></span></span> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-yellow">
                            <!-- <div class="widget-user-image">
                              <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                            </div> -->
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">
                                <span id="jobFname"></span> <span id="jobLname"></span>
                                - Applicant  
                            </h3>
                            <!-- <h5 class="widget-user-desc">Lead Developer</h5> -->
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="#">Email <span class="pull-right"><span id="jobUemail"></span></span></a></li>
                                <li><a href="#">Username <span class="pull-right"><span id="jobUname"></span></span></a></li>
                                <li><a href="#">Zipcode <span class="pull-right badge bg-aqua"><span id="jobUzipcode"></span></span></a></li>
                                <li><a href="#">Coins<span class="pull-right badge bg-green"> <span id="jobUcoins"></span></span></a></li>
                                <li><a href="#">User Rating<span class="pull-right badge bg-green"> <span id="jobUrating"></span></span> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <% include ../partials/footer %>
    <script type="text/javascript">

        // Edit Job Modal
        const editUserModal = (id, status) => {
            if (confirm('Are you Sure you want to update StaffMember!')) {
                if (id && status) {
                    $.ajax({
                        method: "POST",
                        url: "/editUser",
                        data: {id, status}
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }


        // Edit User Modal
        const delUserModal = (id) => {
            if (confirm('Are you Sure you want to delete StaffMember!')) {
                if (id) {
                    $.ajax({
                        method: "POST",
                        url: "/deleteUser",
                        data: {id},
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }

    </script>

