<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    All users
                    <small>Welcome  <%= admin.username %></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active">All Users</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">User table</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="userListMain" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Coins</th>
                                            <th>Zipcode</th>
                                            <th>Posted Jobs Count</th>
                                            <!--<th>Rating</th>-->
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(user) { %>
                                       
                                        <tr>
                                            <td><%=  user.username %></td>
                                            <td><%=  user.email %></td>
                                            <td><%=  user.coins %></td>
                                            <td><%=  user.zipcode %></td>
                                            <td><%=  user.jobsinfo.length %></td>
                                            <!--<td><%=  user.rating %></td>-->
                                            <td>
                                                <% if(!admin.sub_admin) { %>
                                                <% if(user.active) { %>
                                                <button class="btn btn-warning btn-flat" onclick="editUserModal('<%= user._id %>', 'false')">Disable</button>
                                                <button class="btn btn-danger btn-flat" onclick="delUserModal('<%= user._id %>')">Delete</button>
                                                <% } else { %>  
                                                <button class="btn btn-success btn-flat" onclick="editUserModal('<%= user._id %>', 'true')">Enable</button>
                                                <button class="btn btn-danger btn-flat" onclick="delUserModal('<%= user._id %>')">Delete</button>
                                                <% } }%>

                                                <button class="btn btn-info btn-flat" onclick="viewUserDetail('<%= user._id %>')">User Details</button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Coins</th>
                                            <th>Zipcode</th>
                                            <th>Posted Jobs Count</th>
                                            <!--<th>Rating</th>-->
                                            <th>Options</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>


    </div>
    <!-- ./wrapper -->
    <div class="modal fade" id="modal-userDetail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <!-- <h4 class="modal-title">Job User Detail</h4> -->
                </div>
                <div class="modal-body">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-yellow">
                            <h3 class="widget-user-username">
                                Applied Jobs  
                            </h3>
                        </div>
                        <div class="box-footer no-padding">
                            <table id="appliedJobs" class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Title</th>
                                        <th>Client Name</th>
                                        <th>Job owner</th>
                                        <th>Price</th>
                                        <th style="width: 40px">Status</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- Applied Job End-->
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-blue">
                            <h3 class="widget-user-username">
                                Posted Jobs  
                            </h3>
                        </div>
                        <div class="box-footer no-padding">
                            <table id="postedJobs" class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th style="width: 40px">Status</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <% include ../partials/footer %>
    <script type="text/javascript">

        // Edit Job Modal
        const editUserModal = (id, status) => {
            if (confirm('Are you Sure you want to update user!')) {
                if (id && status) {
                    $.ajax({
                        method: "POST",
                        url: "/editUser",
                        data: {id, status}
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }


        // Edit User Modal
        const delUserModal = (id) => {
            if (confirm('Are you Sure you want to delete user!')) {
                if (id) {
                    $.ajax({
                        method: "POST",
                        url: "/deleteUser",
                        data: {id}
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }

        // User details
        const viewUserDetail = (id) => {
            $('#appliedJobs').html(`
                <table id="appliedJobs" class="table table-bordered">
                    <tbody>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Title</th>
                        <th>Job owner</th>
                        <th>Price</th>
                        <th style="width: 40px">Status</th>
                      </tr>
                    </tbody>
                </table>`);
            $('#postedJobs').html(`
                <table id="postedJobs" class="table table-bordered">
                    <tbody>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th style="width: 40px">Status</th>
                      </tr>
                    </tbody>
                </table>`);
            // Get Applied Jobs
            $.ajax({
                method: "POST",
                url: "/getUserDetails",
                data: {id}
            }).done(function (msg) {
                console.log(msg)
                //console.log(msg);
                if (msg.length > 0) {
                    msg.forEach((elem, index) => {
                        let className = '';
                        if (elem.status === "OPEN") {
                            className = "label-info";
                        } else {
                            className = "label-danger";
                        }
                        $('#appliedJobs tr:last').after(
                                `
                  <tr>
                    <td>${index + 1}</td>
                    <td>${elem.title}</td>
                    <td>${elem.clientInfo.username}</td>
                    <td>${elem.price}</td>
                    <td><spa class="label ${className}">${elem.status}</spa></td>
                  </tr>
                  `
                                );
                    });
                } else {
                    $('#appliedJobs').html(`<h4 style="text-align: center">User didn't applied for job</h4>`)
                }
            });

            // Get Posted Jobs
            $.ajax({
                method: "POST",
                url: "/getUserPostedJobs",
                data: {id}
            }).done(function (msg) {
                //console.log(msg);
                if (msg.length > 0) {
                    msg.forEach((elem, index) => {
                        let className = '';
                        if (elem.status === "OPEN") {
                            className = "label-info";
                        } else {
                            className = "label-danger";
                        }
                        $('#postedJobs tr:last').after(
                                `
                  <tr>
                    <td>${index + 1}</td>
                    <td>${elem.title}</td>
                    <td>${elem.price}</td>
                    <td><spa class="label ${className}">${elem.status}</spa></td>
                  </tr>
                  `
                                );
                    });
                } else {
                    $('#postedJobs').html(`<h4 style="text-align: center">User haven't posted any job yet!</h4>`)
                }
            });

            $("#modal-userDetail").modal();
        }

    </script>