<% include ../partials/header %>
<!--
BODY TAG OPTIONS:
=================
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <% include ../partials/adminhead %>
        <% include ../partials/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Vouchers List
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Pages</a></li>
                    <li class="active">Vouchers List</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Vouchers List</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="userList" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Zipcode</th>
                                            <th>Points</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Image</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% vouchers.forEach(function(voucher) { %>
                                        <tr>
                                            <td><%=  voucher.name %></td>
                                            <td><%=  voucher.zipcode %></td>
                                            <td><%=  voucher.points %></td>
                                            <td><%= moment(voucher.startDate).format('Do MMMM, YYYY'); %></td>
                                            <td><%= moment(voucher.endDate).format('Do MMMM, YYYY'); %></td>
                                            <td><img src="/vouchers_images/<%=  voucher.image %>" alt="Smiley face" height="42" width="42"></td>
                                            <td>
                                                <% if(voucher.active){ %>
                                                <button class="btn btn-warning btn-flat" onclick="editStatusVoucherModal('<%= voucher._id %>', 'false')">Disable</button>
                                                <button class="btn btn-danger btn-flat" onclick="delVoucherModal('<%= voucher._id %>')">Delete</button>
                                                <a href="/editvoucher/<%= voucher._id %>"><button class="btn btn-success btn-flat">Edit</button></a>
                                                <% } else { %>  
                                                <button class="btn btn-success btn-flat" onclick="editStatusVoucherModal('<%= voucher._id %>', 'true')">Enable</button>
                                                <button class="btn btn-danger btn-flat" onclick="delVoucherModal('<%= voucher._id %>')">Delete</button>
                                                <a href="/editvoucher/<%= voucher._id %>"><button class="btn btn-success btn-flat">Edit</button></a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>

                                    </tbody>

                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->

    <% include ../partials/footer %>
    <script type="text/javascript">

        // Edit Job Modal
        const editStatusVoucherModal = (id, status) => {
            if (confirm('Are you Sure you want to update voucher!')) {
                if (id && status) {
                    $.ajax({
                        method: "POST",
                        url: "/editStatusVoucherModal",
                        data: {id, status}
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }


        // Edit User Modal
        const delVoucherModal = (id) => {
            if (confirm('Are you Sure you want to delete voucher!')) {
                if (id) {
                    $.ajax({
                        method: "POST",
                        url: "/delVoucherModal",
                        data: {id}
                    }).done(function (msg) {
                        alert(JSON.stringify(msg));
                        window.location.reload();
                    });
                } else {
                    console.log("Error");
                }
            }
        }

    </script>


